@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<footer class="site-footer">
    <div class="site-container site-footer-bar">
        <a class="site-brand" href="/">Site</a>
        <p>&copy; @DateTime.UtcNow.Year</p>
    </div>
</footer>
