@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.PublishedContent
@{
    var siteSettings = Umbraco.ContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "siteSettings");
    ViewData["SiteSettings"] = siteSettings;
}
<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("~/Views/Shared/Head/_Index.cshtml")
</head>
<body class="grid min-h-screen grid-rows-[auto_1fr_auto] bg-page text-text-default">
    @await Html.PartialAsync("~/Views/Shared/Header/_Index.cshtml")
    <main id="main-content" class="py-8 lg:py-section">
        @RenderBody()
    </main>
    @await Html.PartialAsync("~/Views/Shared/Footer/_Index.cshtml")
    @await Html.PartialAsync("~/Views/Shared/_Scripts.cshtml")
</body>
</html>
