<?xml version="1.0" encoding="utf-8"?>
<Content Key="08bd29f0-74b9-46ae-a392-6890a0e48b95" Alias="About" Level="2">
  <Info>
    <Parent Key="a5127abf-3d75-44d3-ae47-ef31f74ddcc6">Default</Parent>
    <Path>/Default/About</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-05-12T15:26:10</CreateDate>
    <NodeName Default="About">
      <Name Culture="en-US">About</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="false">
      <Published Culture="en-US">false</Published>
    </Published>
    <Schedule />
    <Template Key="7585d17a-932b-4279-8bcb-622a9519ca95">page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <meta>
      <Value><![CDATA[]]></Value>
    </meta>
    <social>
      <Value><![CDATA[]]></Value>
    </social>
    <summary>
      <Value><![CDATA[]]></Value>
    </summary>
  </Properties>
</Content>