<?xml version="1.0" encoding="utf-8"?>
<Content Key="982b08e0-70d6-405c-bbad-5479de5182a6" Alias="Applied Theme Styles" Level="3">
  <Info>
    <Parent Key="4eddd160-9040-4a61-8621-eff82374fe6f">Site Settings</Parent>
    <Path>/Default/SiteSettings/AppliedThemeStyles</Path>
    <Trashed>false</Trashed>
    <ContentType>appliedThemeStyles</ContentType>
    <CreateDate>2026-05-06T14:24:38</CreateDate>
    <NodeName Default="Applied Theme Styles" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <additionalTokens>
      <Value><![CDATA[]]></Value>
    </additionalTokens>
    <bodyTextColor>
      <Value><![CDATA[]]></Value>
    </bodyTextColor>
    <cardBackground>
      <Value><![CDATA[]]></Value>
    </cardBackground>
    <cardRadius>
      <Value><![CDATA[]]></Value>
    </cardRadius>
    <cardShadow>
      <Value><![CDATA[]]></Value>
    </cardShadow>
    <containerWidth>
      <Value><![CDATA[]]></Value>
    </containerWidth>
    <defaultBorderColor>
      <Value><![CDATA[]]></Value>
    </defaultBorderColor>
    <errorBorder>
      <Value><![CDATA[]]></Value>
    </errorBorder>
    <errorText>
      <Value><![CDATA[]]></Value>
    </errorText>
    <footerBackground>
      <Value><![CDATA[]]></Value>
    </footerBackground>
    <headerBackground>
      <Value><![CDATA[]]></Value>
    </headerBackground>
    <headingTextColor>
      <Value><![CDATA[]]></Value>
    </headingTextColor>
    <inputBackground>
      <Value><![CDATA[]]></Value>
    </inputBackground>
    <inputBorder>
      <Value><![CDATA[]]></Value>
    </inputBorder>
    <inputFocusBorder>
      <Value><![CDATA[]]></Value>
    </inputFocusBorder>
    <inputText>
      <Value><![CDATA[]]></Value>
    </inputText>
    <inverseTextColor>
      <Value><![CDATA[]]></Value>
    </inverseTextColor>
    <linkColor>
      <Value><![CDATA[]]></Value>
    </linkColor>
    <linkFocusColor>
      <Value><![CDATA[]]></Value>
    </linkFocusColor>
    <linkHoverColor>
      <Value><![CDATA[]]></Value>
    </linkHoverColor>
    <mutedTextColor>
      <Value><![CDATA[]]></Value>
    </mutedTextColor>
    <pageBackground>
      <Value><![CDATA[]]></Value>
    </pageBackground>
    <primaryButtonBackground>
      <Value><![CDATA[]]></Value>
    </primaryButtonBackground>
    <primaryButtonHoverBackground>
      <Value><![CDATA[]]></Value>
    </primaryButtonHoverBackground>
    <primaryButtonText>
      <Value><![CDATA[]]></Value>
    </primaryButtonText>
    <secondaryButtonBackground>
      <Value><![CDATA[]]></Value>
    </secondaryButtonBackground>
    <secondaryButtonText>
      <Value><![CDATA[]]></Value>
    </secondaryButtonText>
    <sectionBackground>
      <Value><![CDATA[]]></Value>
    </sectionBackground>
    <sectionSpacing>
      <Value><![CDATA[]]></Value>
    </sectionSpacing>
    <strongBorderColor>
      <Value><![CDATA[]]></Value>
    </strongBorderColor>
    <subtleBorderColor>
      <Value><![CDATA[]]></Value>
    </subtleBorderColor>
  </Properties>
</Content>