<?xml version="1.0" encoding="utf-8"?>
<Content Key="a5127abf-3d75-44d3-ae47-ef31f74ddcc6" Alias="Default" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Default</Path>
    <Trashed>false</Trashed>
    <ContentType>tenantSite</ContentType>
    <CreateDate>2026-05-12T15:26:10</CreateDate>
    <NodeName Default="Default" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tenantKey>
      <Value><![CDATA[default]]></Value>
    </tenantKey>
  </Properties>
</Content>