<?xml version="1.0" encoding="utf-8"?>
<Content Key="90a15c73-1810-487f-a971-590fb2a5d655" Alias="Default" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Default</Path>
    <Trashed>false</Trashed>
    <ContentType>tenantSite</ContentType>
    <CreateDate>2026-04-08T14:08:51</CreateDate>
    <NodeName Default="Default" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tenantKey>
      <Value><![CDATA[uk]]></Value>
    </tenantKey>
  </Properties>
</Content>