<?xml version="1.0" encoding="utf-8"?>
<Content Key="88e90a54-92ad-4f58-acc5-baa068d846bf" Alias="Footer" Level="3">
  <Info>
    <Parent Key="4eddd160-9040-4a61-8621-eff82374fe6f">Site Settings</Parent>
    <Path>/Default/SiteSettings/Footer</Path>
    <Trashed>false</Trashed>
    <ContentType>siteFooterSettings</ContentType>
    <CreateDate>2026-05-06T11:21:10</CreateDate>
    <NodeName Default="Footer" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footer>
      <Value><![CDATA[]]></Value>
    </footer>
  </Properties>
</Content>