<?xml version="1.0" encoding="utf-8"?>
<Content Key="ae82a77d-4726-4359-8778-6fddbbac00e4" Alias="Footer" Level="3">
  <Info>
    <Parent Key="fbf7d1dc-edb1-4a08-8647-6a219c4f7d79">Settings</Parent>
    <Path>/Default/Settings/Footer</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsFooter</ContentType>
    <CreateDate>2026-05-12T15:26:10</CreateDate>
    <NodeName Default="Footer" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footer>
      <Value><![CDATA[]]></Value>
    </footer>
  </Properties>
</Content>