<?xml version="1.0" encoding="utf-8"?>
<Content Key="291cfa60-36ab-4fec-82e1-ac900296445c" Alias="Header" Level="3">
  <Info>
    <Parent Key="4eddd160-9040-4a61-8621-eff82374fe6f">Site Settings</Parent>
    <Path>/Default/SiteSettings/Header</Path>
    <Trashed>false</Trashed>
    <ContentType>siteHeaderSettings</ContentType>
    <CreateDate>2026-05-06T11:20:55</CreateDate>
    <NodeName Default="Header" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <header>
      <Value><![CDATA[]]></Value>
    </header>
  </Properties>
</Content>