<?xml version="1.0" encoding="utf-8"?>
<Content Key="9930fd9c-3c30-42e1-8450-769d957e3182" Alias="Header" Level="3">
  <Info>
    <Parent Key="fbf7d1dc-edb1-4a08-8647-6a219c4f7d79">Settings</Parent>
    <Path>/Default/Settings/Header</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsHeader</ContentType>
    <CreateDate>2026-05-12T15:26:10</CreateDate>
    <NodeName Default="Header" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <header>
      <Value><![CDATA[]]></Value>
    </header>
  </Properties>
</Content>