<?xml version="1.0" encoding="utf-8"?>
<Content Key="0becd779-eec8-4865-87df-3b1843e78190" Alias="Home" Level="2">
  <Info>
    <Parent Key="a5127abf-3d75-44d3-ae47-ef31f74ddcc6">Default</Parent>
    <Path>/Default/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-05-12T15:26:10</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-US">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="7585d17a-932b-4279-8bcb-622a9519ca95">page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <meta>
      <Value><![CDATA[]]></Value>
    </meta>
    <social>
      <Value><![CDATA[]]></Value>
    </social>
    <summary>
      <Value><![CDATA[]]></Value>
    </summary>
  </Properties>
</Content>