<?xml version="1.0" encoding="utf-8"?>
<Content Key="208cc42e-996c-46ce-9905-d45ccdd7b2da" Alias="Home" Level="2">
  <Info>
    <Parent Key="90a15c73-1810-487f-a971-590fb2a5d655">Default</Parent>
    <Path>/Default/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-03-18T16:13:00</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7585d17a-932b-4279-8bcb-622a9519ca95">page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "38beb9eb-4f9d-4289-b6b8-da03975f560d",
      "key": "5e242035-d829-4672-b7dd-4cc9340e9e72",
      "values": [
        {
          "alias": "rte",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003Ethis is text\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "5e242035-d829-4672-b7dd-4cc9340e9e72",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5e242035-d829-4672-b7dd-4cc9340e9e72",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <meta>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c9ae9ed7-6d38-4ab7-921d-3325b6315928",
      "key": "f4cfefb0-a051-416f-8f44-e84c2eaefc37",
      "values": [
        {
          "editorAlias": "Umbraco.TextBox",
          "culture": null,
          "segment": null,
          "alias": "metaTitle",
          "value": "11"
        },
        {
          "editorAlias": "Umbraco.TextArea",
          "culture": null,
          "segment": null,
          "alias": "metaDescription",
          "value": "22"
        },
        {
          "editorAlias": "Umbraco.TrueFalse",
          "culture": null,
          "segment": null,
          "alias": "hideFromSearchEngines",
          "value": 0
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "f4cfefb0-a051-416f-8f44-e84c2eaefc37",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.SingleBlock": [
      {
        "contentUdi": null,
        "settingsUdi": null,
        "contentKey": "f4cfefb0-a051-416f-8f44-e84c2eaefc37",
        "settingsKey": null
      }
    ]
  }
}]]></Value>
    </meta>
    <social>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "66d73f56-80f6-4739-ab75-618435f4f724",
      "key": "7126aa11-ab6b-473d-9154-db51c096d81c",
      "values": [
        {
          "editorAlias": "Umbraco.TextArea",
          "culture": null,
          "segment": null,
          "alias": "socialDescription",
          "value": null
        },
        {
          "editorAlias": "Umbraco.TextBox",
          "culture": null,
          "segment": null,
          "alias": "socialTitle",
          "value": null
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "7126aa11-ab6b-473d-9154-db51c096d81c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.SingleBlock": [
      {
        "contentUdi": null,
        "settingsUdi": null,
        "contentKey": "7126aa11-ab6b-473d-9154-db51c096d81c",
        "settingsKey": null
      }
    ]
  }
}]]></Value>
    </social>
    <summary>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d4a0a510-b114-431a-9cc8-96b5a2782b16",
      "key": "9985ed5a-f3d8-4354-a641-73449f0dca1b",
      "values": [
        {
          "editorAlias": "Umbraco.TextBox",
          "culture": null,
          "segment": null,
          "alias": "summaryTitle",
          "value": "1"
        },
        {
          "editorAlias": "Umbraco.TextArea",
          "culture": null,
          "segment": null,
          "alias": "summaryContent",
          "value": "2"
        },
        {
          "editorAlias": "Umbraco.MediaPicker3",
          "culture": null,
          "segment": null,
          "alias": "summaryImage",
          "value": "[{\u0022key\u0022:\u00221a2f679f-4ed9-4848-b514-f08912779483\u0022,\u0022mediaKey\u0022:\u00228cbc8d34-223c-4d09-b223-c98fb02d49ea\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "9985ed5a-f3d8-4354-a641-73449f0dca1b",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.SingleBlock": [
      {
        "contentUdi": null,
        "settingsUdi": null,
        "contentKey": "9985ed5a-f3d8-4354-a641-73449f0dca1b",
        "settingsKey": null
      }
    ]
  }
}]]></Value>
    </summary>
  </Properties>
</Content>