<?xml version="1.0" encoding="utf-8"?>
<Content Key="49750797-078d-4c13-b78a-21ca39d9ce3f" Alias="Identity" Level="3">
  <Info>
    <Parent Key="fbf7d1dc-edb1-4a08-8647-6a219c4f7d79">Settings</Parent>
    <Path>/Default/Settings/Identity</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsIdentity</ContentType>
    <CreateDate>2026-05-12T15:26:10</CreateDate>
    <NodeName Default="Identity" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <favicon>
      <Value><![CDATA[]]></Value>
    </favicon>
    <siteName>
      <Value><![CDATA[Default]]></Value>
    </siteName>
    <siteTitle>
      <Value><![CDATA[{pageName} | {siteName}]]></Value>
    </siteTitle>
  </Properties>
</Content>