<?xml version="1.0" encoding="utf-8"?>
<Content Key="4380b76a-6061-4a26-86c6-2e6c5b7bfc01" Alias="Identity" Level="3">
  <Info>
    <Parent Key="4eddd160-9040-4a61-8621-eff82374fe6f">Site Settings</Parent>
    <Path>/Default/SiteSettings/Identity</Path>
    <Trashed>false</Trashed>
    <ContentType>siteIdentitySettings</ContentType>
    <CreateDate>2026-05-06T11:21:35</CreateDate>
    <NodeName Default="Identity" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <favicon>
      <Value><![CDATA[]]></Value>
    </favicon>
    <siteName>
      <Value><![CDATA[]]></Value>
    </siteName>
    <siteTitle>
      <Value><![CDATA[]]></Value>
    </siteTitle>
  </Properties>
</Content>