<?xml version="1.0" encoding="utf-8"?>
<Content Key="4eddd160-9040-4a61-8621-eff82374fe6f" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="90a15c73-1810-487f-a971-590fb2a5d655">Default</Parent>
    <Path>/Default/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2026-03-18T15:54:21</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>