<?xml version="1.0" encoding="utf-8"?>
<Content Key="2b79f9ce-822e-4280-98e1-2a75c1409fb7" Alias="Theme Settings" Level="3">
  <Info>
    <Parent Key="4eddd160-9040-4a61-8621-eff82374fe6f">Site Settings</Parent>
    <Path>/Default/SiteSettings/ThemeSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteThemeSettings</ContentType>
    <CreateDate>2026-05-06T11:28:03</CreateDate>
    <NodeName Default="Theme Settings" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <baseColors>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "6e2f3941-4c9c-4af7-b31a-8fb331b41249",
      "key": "6b7982c8-bbd5-4f86-a887-9181568b19ee",
      "values": [
        {
          "alias": "paletteValue",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "white"
        }
      ]
    },
    {
      "contentTypeKey": "6e2f3941-4c9c-4af7-b31a-8fb331b41249",
      "key": "ec8e2d97-c0a7-4550-aa03-6bb7b9cacc9a",
      "values": [
        {
          "alias": "paletteValue",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "black"
        }
      ]
    },
    {
      "contentTypeKey": "6e2f3941-4c9c-4af7-b31a-8fb331b41249",
      "key": "47e97e3b-3c29-4b68-a37d-629650a91fba",
      "values": [
        {
          "alias": "paletteValue",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "red-600"
        }
      ]
    },
    {
      "contentTypeKey": "6e2f3941-4c9c-4af7-b31a-8fb331b41249",
      "key": "0f92f9af-23ba-4d5e-8294-e574e4f01a6f",
      "values": [
        {
          "alias": "paletteValue",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "lime-600"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "6b7982c8-bbd5-4f86-a887-9181568b19ee",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ec8e2d97-c0a7-4550-aa03-6bb7b9cacc9a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "47e97e3b-3c29-4b68-a37d-629650a91fba",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0f92f9af-23ba-4d5e-8294-e574e4f01a6f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "6b7982c8-bbd5-4f86-a887-9181568b19ee",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "ec8e2d97-c0a7-4550-aa03-6bb7b9cacc9a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "47e97e3b-3c29-4b68-a37d-629650a91fba",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "0f92f9af-23ba-4d5e-8294-e574e4f01a6f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </baseColors>
    <fontFamilyDisplay>
      <Value><![CDATA[]]></Value>
    </fontFamilyDisplay>
    <fontFamilySans>
      <Value><![CDATA[]]></Value>
    </fontFamilySans>
    <fontSize2Xl>
      <Value><![CDATA[{
  "mobile": "40",
  "tablet": "52",
  "desktop": "64"
}]]></Value>
    </fontSize2Xl>
    <fontSizeBase>
      <Value><![CDATA[{
  "mobile": "16",
  "tablet": "16",
  "desktop": "18"
}]]></Value>
    </fontSizeBase>
    <fontSizeLg>
      <Value><![CDATA[{
  "mobile": "18",
  "tablet": "19",
  "desktop": "20"
}]]></Value>
    </fontSizeLg>
    <fontSizeSm>
      <Value><![CDATA[{
  "mobile": "12",
  "tablet": "14",
  "desktop": "14"
}]]></Value>
    </fontSizeSm>
    <fontSizeXl>
      <Value><![CDATA[{
  "mobile": "28",
  "tablet": "34",
  "desktop": "40"
}]]></Value>
    </fontSizeXl>
    <layoutGutter>
      <Value><![CDATA[{
  "mobile": "10",
  "tablet": "16",
  "desktop": "16"
}]]></Value>
    </layoutGutter>
    <layoutWidthContent>
      <Value><![CDATA[1200px]]></Value>
    </layoutWidthContent>
    <layoutWidthReading>
      <Value><![CDATA[720px]]></Value>
    </layoutWidthReading>
    <lineHeightBase>
      <Value><![CDATA[1.45]]></Value>
    </lineHeightBase>
    <lineHeightTight>
      <Value><![CDATA[1.2]]></Value>
    </lineHeightTight>
    <radiusFull>
      <Value><![CDATA[999]]></Value>
    </radiusFull>
    <radiusLg>
      <Value><![CDATA[16]]></Value>
    </radiusLg>
    <radiusMd>
      <Value><![CDATA[8]]></Value>
    </radiusMd>
    <radiusSm>
      <Value><![CDATA[4]]></Value>
    </radiusSm>
    <shadowMd>
      <Value><![CDATA[]]></Value>
    </shadowMd>
    <shadowNone>
      <Value><![CDATA[]]></Value>
    </shadowNone>
    <shadowXl>
      <Value><![CDATA[]]></Value>
    </shadowXl>
    <spacing2Xl>
      <Value><![CDATA[{
  "mobile": "48",
  "tablet": "54",
  "desktop": "64"
}]]></Value>
    </spacing2Xl>
    <spacingLg>
      <Value><![CDATA[{
  "mobile": "24",
  "tablet": "24",
  "desktop": "24"
}]]></Value>
    </spacingLg>
    <spacingMd>
      <Value><![CDATA[{
  "mobile": "16",
  "tablet": "16",
  "desktop": "16"
}]]></Value>
    </spacingMd>
    <spacingSm>
      <Value><![CDATA[{
  "mobile": "8",
  "tablet": "8",
  "desktop": "8"
}]]></Value>
    </spacingSm>
    <spacingTokens>
      <Value><![CDATA[]]></Value>
    </spacingTokens>
    <spacingXl>
      <Value><![CDATA[{
  "mobile": "32",
  "tablet": "32",
  "desktop": "32"
}]]></Value>
    </spacingXl>
    <spacingXs>
      <Value><![CDATA[{
  "mobile": "4",
  "tablet": "4",
  "desktop": "4"
}]]></Value>
    </spacingXs>
  </Properties>
</Content>