<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="df21c777-9e69-4fae-9fe7-d5ed55c9175c" Alias="appliedThemeStyles" Level="1">
  <Info>
    <Name>Applied Theme Styles</Name>
    <Icon>icon-palette color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Maps editor-facing site style roles to the primitive theme colours and values defined in Theme.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9e9f04e8-319a-4242-a815-7b394abfdff0</Key>
      <Name>Primary Button Background</Name>
      <Alias>primaryButtonBackground</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the base colour used for primary button backgrounds.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="buttons">Buttons</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9d5885b3-f9d3-4faf-8643-731bee33958e</Key>
      <Name>Primary Button Text</Name>
      <Alias>primaryButtonText</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the base colour used for text on primary buttons.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="buttons">Buttons</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bb0a029f-e41c-46b0-8eca-9dc84db012b2</Key>
      <Name>Primary Button Hover Background</Name>
      <Alias>primaryButtonHoverBackground</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the base colour used when a primary button is hovered.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="buttons">Buttons</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>43fb5016-c5d2-42cf-9998-ccfc87bf8607</Key>
      <Name>Secondary Button Background</Name>
      <Alias>secondaryButtonBackground</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the base colour used for secondary button backgrounds.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="buttons">Buttons</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>907b5cd6-84f3-4d6b-b5e8-2c33ef39d7d6</Key>
      <Name>Secondary Button Text</Name>
      <Alias>secondaryButtonText</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the base colour used for text on secondary buttons.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="buttons">Buttons</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ace1aff0-033c-45c0-8828-646ced90db53</Key>
      <Name>Link Colour</Name>
      <Alias>linkColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the base colour used for standard links.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="links">Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>72a1c935-4077-4069-b829-f5cff08e319b</Key>
      <Name>Link Hover Colour</Name>
      <Alias>linkHoverColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the base colour used when a link is hovered.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="links">Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8598a6b3-7f10-4511-8417-de878edbb929</Key>
      <Name>Link Focus Colour</Name>
      <Alias>linkFocusColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the base colour used for focus styling.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="links">Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1a473bc0-cde8-4f4c-b16a-26701fb4d14f</Key>
      <Name>Body Text Colour</Name>
      <Alias>bodyTextColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the base colour used for body copy.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="text">Text</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fa799864-42e3-453a-9661-c69f915d6ac8</Key>
      <Name>Heading Text Colour</Name>
      <Alias>headingTextColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the base colour used for headings.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="text">Text</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bd93e1a2-562d-48e9-9ace-cc6ba96a3e83</Key>
      <Name>Muted Text Colour</Name>
      <Alias>mutedTextColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the base colour used for supporting or muted text.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="text">Text</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8757dadb-ca5b-4bd8-b0a6-d826bc6c631f</Key>
      <Name>Inverse Text Colour</Name>
      <Alias>inverseTextColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the base colour used for text on dark or contrasting surfaces.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="text">Text</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d4b3d16c-31d6-48aa-8e7a-db98b3f345d6</Key>
      <Name>Page Background</Name>
      <Alias>pageBackground</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the base colour used for the main page background.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="surfaces">Surfaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>53055b67-328b-43b7-9c7d-2091db078066</Key>
      <Name>Card Background</Name>
      <Alias>cardBackground</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the base colour used for cards and panels.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="surfaces">Surfaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>15f3c46c-b3d7-431a-b060-b7b520cf11a0</Key>
      <Name>Section Background</Name>
      <Alias>sectionBackground</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the base colour used for section backgrounds or muted panels.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="surfaces">Surfaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b6e2450c-d0b9-4884-9fc1-30e784791687</Key>
      <Name>Header Background</Name>
      <Alias>headerBackground</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the base colour used for the header background.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="surfaces">Surfaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ccc405e9-3fb9-4ebf-8f51-8170c12cb5ed</Key>
      <Name>Footer Background</Name>
      <Alias>footerBackground</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the base colour used for the footer background.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="surfaces">Surfaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>02e520f6-dc9c-4fd6-ac76-1f181769768f</Key>
      <Name>Default Border Colour</Name>
      <Alias>defaultBorderColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the base colour used for standard borders.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="borders">Borders</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d703a4d3-daad-469a-b896-050fc949edce</Key>
      <Name>Subtle Border Colour</Name>
      <Alias>subtleBorderColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the base colour used for low-emphasis borders.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="borders">Borders</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>58f5d476-340a-407f-be8b-781e7c4fb484</Key>
      <Name>Strong Border Colour</Name>
      <Alias>strongBorderColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the base colour used for high-emphasis borders.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="borders">Borders</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b6f5235e-d388-432e-8341-d0b784a0a243</Key>
      <Name>Input Background</Name>
      <Alias>inputBackground</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the base colour used for input backgrounds.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="forms">Forms</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6ad48fce-1c4f-4bdb-8a27-f02cc8e2b127</Key>
      <Name>Input Text</Name>
      <Alias>inputText</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the base colour used for input text.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="forms">Forms</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>654ae64f-cf1d-4d3b-b0e9-15cf655b5ee3</Key>
      <Name>Input Border</Name>
      <Alias>inputBorder</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the base colour used for input borders.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="forms">Forms</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1d4c8288-9c9a-4755-9007-2f7fa88c7615</Key>
      <Name>Input Focus Border</Name>
      <Alias>inputFocusBorder</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the base colour used for focused input borders.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="forms">Forms</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0322caf6-fad1-499a-b43d-c19edc753194</Key>
      <Name>Error Text</Name>
      <Alias>errorText</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the base colour used for validation or error text.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="forms">Forms</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b5c42c25-101a-4a53-8b8e-03b6ca4f7adc</Key>
      <Name>Error Border</Name>
      <Alias>errorBorder</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the base colour used for validation or error borders.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="forms">Forms</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8dca1070-dd0e-4f2d-84b4-02003decd54c</Key>
      <Name>Card Radius</Name>
      <Alias>cardRadius</Alias>
      <Definition>6d5eb7db-6062-4a5b-b379-eb7d038bcfb5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the radius token used for card corners.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="components">Components</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b096d781-62e6-4280-a597-b10bbbc49e7b</Key>
      <Name>Card Shadow</Name>
      <Alias>cardShadow</Alias>
      <Definition>5ec526fc-81cd-4dd1-8606-c34a716dc63d</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the shadow token used for cards.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="components">Components</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>02aee32a-3fa8-424e-a81a-2bca600ec264</Key>
      <Name>Section Spacing</Name>
      <Alias>sectionSpacing</Alias>
      <Definition>dd1d57d8-4141-4513-b0c9-d047b7b0490c</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the spacing token used for section padding.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="components">Components</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>71492cef-87ce-4a74-a0cf-f2405df430c2</Key>
      <Name>Container Width</Name>
      <Alias>containerWidth</Alias>
      <Definition>4f419c96-1f4a-473b-982c-4f426c3125d8</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the width token used for page containers.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="components">Components</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>07594f1f-9f23-4242-bd71-08b356f1a6d6</Key>
      <Name>Additional</Name>
      <Alias>additionalTokens</Alias>
      <Definition>f5a6dc85-aa3d-4f08-a16e-97d4abec4511</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Additional non-responsive design-system values beyond the named applied style groups.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="advanced">Advanced</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f8c90613-9064-4ad7-b0e8-b8bb23e08a97</Key>
      <Caption>Buttons</Caption>
      <Alias>buttons</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>6ee4942b-be7e-4eaa-9b71-26b0b19f1bb4</Key>
      <Caption>Links</Caption>
      <Alias>links</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>23097307-f3f7-46e1-a0f3-5c57289947b5</Key>
      <Caption>Text</Caption>
      <Alias>text</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>20214df8-c20b-4acd-9705-ccc410fa95d6</Key>
      <Caption>Surfaces</Caption>
      <Alias>surfaces</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>8a07a5b4-cf7e-4ae7-91c4-4fdedad6b5b5</Key>
      <Caption>Borders</Caption>
      <Alias>borders</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>e6b59b0d-336a-4f34-bb8f-0e1698d108f5</Key>
      <Caption>Forms</Caption>
      <Alias>forms</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>b742efd3-ddff-4a99-920d-307a5b80c7b9</Key>
      <Caption>Components</Caption>
      <Alias>components</Alias>
      <Type>Group</Type>
      <SortOrder>6</SortOrder>
    </Tab>
    <Tab>
      <Key>d35c1a30-c66d-4769-87c5-a05116f322f4</Key>
      <Caption>Advanced</Caption>
      <Alias>advanced</Alias>
      <Type>Group</Type>
      <SortOrder>7</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
