<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0d1a7cd0-bc45-4f35-b854-8c70fb42021d" Alias="baseColourPalette" Level="1">
  <Info>
    <Name>Colours</Name>
    <Icon>icon-colorpicker</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Colours used in your site's theme.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c2182d4e-4672-4ffe-9651-eb4ad4e78882</Key>
      <Name>Colours</Name>
      <Alias>colours</Alias>
      <Definition>08a91554-4648-44e1-9da0-bcd030b02e2e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add built-in or custom colours to use in your site.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>160b88cd-71b8-45eb-ad2e-f7c43c134de5</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
