<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="100c8fd1-9459-4234-b329-ff6a44a2211e" Alias="commonStyleSettings" Level="1">
  <Info>
    <Name>_Common Style Settings</Name>
    <Icon>icon-settings</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4134cb69-6029-4bf6-85b2-b12b26a60df5</Key>
      <Name>Background Color</Name>
      <Alias>backgroundColor</Alias>
      <Definition>37ec59a5-db84-4a43-bf67-0619e990c662</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[ Select the background surface for this component.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="styles">Styles</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d517320d-524c-469f-ab69-2201933ad694</Key>
      <Name>Border Color</Name>
      <Alias>borderColor</Alias>
      <Definition>37ec59a5-db84-4a43-bf67-0619e990c662</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional colour token used for borders or dividers.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="styles">Styles</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>65771d21-d706-4f28-ad74-a3cee35cee48</Key>
      <Name>Border Radius</Name>
      <Alias>borderRadius</Alias>
      <Definition>dd1d57d8-4141-4513-b0c9-d047b7b0490c</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="styles">Styles</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fb230f5d-3feb-4e52-b7c1-19c53efc90e3</Key>
      <Name>Padding Y</Name>
      <Alias>paddingBlock</Alias>
      <Definition>dd1d57d8-4141-4513-b0c9-d047b7b0490c</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the vertical padding token for this component.]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="styles">Styles</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b088aff2-14f5-4d9a-8ac8-6993e525181a</Key>
      <Name>Padding X</Name>
      <Alias>paddingInline</Alias>
      <Definition>dd1d57d8-4141-4513-b0c9-d047b7b0490c</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the horizontal padding token for this component.]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="styles">Styles</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>548213e9-785b-4f9c-8c21-56e6b222555d</Key>
      <Name>Text Color</Name>
      <Alias>textColor</Alias>
      <Definition>37ec59a5-db84-4a43-bf67-0619e990c662</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the text color for this component.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="styles">Styles</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>107b45ac-556f-4890-90e6-1e0c3ea1da80</Key>
      <Caption>Styles</Caption>
      <Alias>styles</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>