<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e772a408-bf0c-4eb4-b78c-98a3a6146a42" Alias="commonAndGridSettings" Level="1">
  <Info>
    <Name>_Common and _Grid Settings</Name>
    <Icon>icon-settings</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="100c8fd1-9459-4234-b329-ff6a44a2211e">commonStyleSettings</Composition>
      <Composition Key="d6dd48ee-038d-402b-b47b-fca4005f882f">gridStyleSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>