<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ab9f6723-0dbb-4a0c-8c2f-7bc655f12910" Alias="customColorToken" Level="1">
  <Info>
    <Name>Custom colour</Name>
    <Icon>icon-colorpicker</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>dedb7f29-f8b4-440b-9462-d783d60bc0bb</Key>
      <Name>Select a colour</Name>
      <Alias>customValue</Alias>
      <Definition>f4a7f9e8-b30d-41fe-babf-964b8430f55f</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="custom">Custom</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Select a colour.</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f1a8e5c0-2b78-40d1-bdf6-b1f0b66d0de2</Key>
      <Name>Name</Name>
      <Alias>label</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add a name, for example <code>blue-100</code>.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="custom">Custom</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Enter a name.</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6902cbac-0aa7-420a-984d-bdf5f635ac7f</Key>
      <Caption>Custom</Caption>
      <Alias>custom</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>