<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6597683f-7f26-4ca3-ba55-6e73dfb7141f" Alias="designTokens" Level="1">
  <Info>
    <Name>Design Tokens</Name>
    <Icon>icon-settings-alt</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Design system settings and controls used to keep the site’s design, branding, and reusable UI patterns consistent across the CMS.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>18C92F6D-3363-46F1-91A5-A140A2E6AE99</Key>
      <Name>Additional Tokens</Name>
      <Alias>additionalTokens</Alias>
      <Definition>F5A6DC85-AA3D-4F08-A16E-97D4ABEC4511</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Additional non-responsive design-system values beyond the named core token groups.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="advanced">Advanced</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>F6B65ACB-9E1F-4B46-9EB6-DF30DB3488CB</Key>
      <Name>Brand</Name>
      <Alias>brand</Alias>
      <Definition>F4A7F9E8-B30D-41FE-BABF-964B8430F55F</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>24BBEF5D-007C-4CBF-8DCE-42EB9E6C7126</Key>
      <Name>Font Family Sans</Name>
      <Alias>fontFamilySans</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="fonts&amp;LineHeights">Fonts &amp; Line Heights</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>AFDBD7E5-533E-47F7-B043-9AA1FD64CEA0</Key>
      <Name>Layout Width Reading</Name>
      <Alias>layoutWidthReading</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="layout">Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>D118D50E-F32B-477F-B3DA-BBE65D0C07FF</Key>
      <Name>Radius SM</Name>
      <Alias>radiusSm</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="radius">Radius</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8E31829B-EE6F-45F2-ABF0-5FEE04EF8A69</Key>
      <Name>Font Family Display</Name>
      <Alias>fontFamilyDisplay</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="fonts&amp;LineHeights">Fonts &amp; Line Heights</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>C0019DFD-5EB4-4E00-88F5-B963C2502BA6</Key>
      <Name>Layout Width Content</Name>
      <Alias>layoutWidthContent</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="layout">Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8D4174F6-AFB1-4369-9D2C-6E7CEA433F86</Key>
      <Name>Shadow Lifted</Name>
      <Alias>shadowLifted</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="shadows">Shadows</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6D4D1D4D-807B-4B9A-A5F3-2E40208B7239</Key>
      <Name>Radius MD</Name>
      <Alias>radiusMd</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="radius">Radius</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>CC7E83D8-FC47-4103-89B0-6DC51C7529CF</Key>
      <Name>Layout Gutter</Name>
      <Alias>layoutGutter</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="layout">Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>D8F31C49-90C6-4B7C-8A02-60FC35796FE3</Key>
      <Name>Shadow Raised</Name>
      <Alias>shadowRaised</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="shadows">Shadows</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>D998E63B-D051-435D-B550-E7E3E93CE4B5</Key>
      <Name>Radius LG</Name>
      <Alias>radiusLg</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="radius">Radius</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>38CB368E-ADBC-4468-BE38-3D17FD3C0AE8</Key>
      <Name>Font Size SM</Name>
      <Alias>fontSizeSm</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="fonts&amp;LineHeights">Fonts &amp; Line Heights</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7E90FA67-FE91-417E-B514-3C0AECA0D817</Key>
      <Name>Shadow Focus</Name>
      <Alias>shadowFocus</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="shadows">Shadows</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>A19758A2-422D-4CA2-9EF3-C2DBAAAF17B8</Key>
      <Name>Radius Pill</Name>
      <Alias>radiusPill</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="radius">Radius</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>D216301E-6663-46C8-A519-5C94999EA352</Key>
      <Name>Font Size Base</Name>
      <Alias>fontSizeBase</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="fonts&amp;LineHeights">Fonts &amp; Line Heights</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7F5E4824-257C-42B8-BFF1-029E1A5CBDDD</Key>
      <Name>Brand Hover</Name>
      <Alias>brandHover</Alias>
      <Definition>F4A7F9E8-B30D-41FE-BABF-964B8430F55F</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>51DB2E41-3867-4E9E-BA67-68145DA4AF7E</Key>
      <Name>Font Size LG</Name>
      <Alias>fontSizeLg</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="fonts&amp;LineHeights">Fonts &amp; Line Heights</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>F124FF2F-F411-42C6-B112-75A01971CDFB</Key>
      <Name>Surface Page</Name>
      <Alias>surfacePage</Alias>
      <Definition>F4A7F9E8-B30D-41FE-BABF-964B8430F55F</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>377E3F7B-7A33-4DA7-9714-46BA21016BA9</Key>
      <Name>Font Size XL</Name>
      <Alias>fontSizeXl</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="fonts&amp;LineHeights">Fonts &amp; Line Heights</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>B6DD0DEB-D1FB-4F17-81CE-1C6EB30A9720</Key>
      <Name>Surface Panel</Name>
      <Alias>surfacePanel</Alias>
      <Definition>F4A7F9E8-B30D-41FE-BABF-964B8430F55F</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>EE5DC1E6-C35A-4D7D-B4CC-17D6BD0A2186</Key>
      <Name>Font Size 2XL</Name>
      <Alias>fontSize2Xl</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="fonts&amp;LineHeights">Fonts &amp; Line Heights</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>EE064447-A640-45B3-B0FD-2067E38358BA</Key>
      <Name>Surface Panel Muted</Name>
      <Alias>surfacePanelMuted</Alias>
      <Definition>F4A7F9E8-B30D-41FE-BABF-964B8430F55F</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>24</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5D5D3FD5-A8B3-4E7A-9F26-1DE70CBB26BE</Key>
      <Name>Surface Header</Name>
      <Alias>surfaceHeader</Alias>
      <Definition>F4A7F9E8-B30D-41FE-BABF-964B8430F55F</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>25</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6BEBFFB1-C25D-45E7-931B-9D6B433B4CC3</Key>
      <Name>Surface Footer</Name>
      <Alias>surfaceFooter</Alias>
      <Definition>F4A7F9E8-B30D-41FE-BABF-964B8430F55F</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>26</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>DBD849C6-1014-44A5-B962-4B1335C77BD1</Key>
      <Name>Text Default</Name>
      <Alias>textDefault</Alias>
      <Definition>F4A7F9E8-B30D-41FE-BABF-964B8430F55F</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>27</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>15602958-5D14-4A97-87F1-DF6B7DAD8023</Key>
      <Name>Text Strong</Name>
      <Alias>textStrong</Alias>
      <Definition>F4A7F9E8-B30D-41FE-BABF-964B8430F55F</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>28</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>64379863-2E6F-4ECA-815E-53345A8D9903</Key>
      <Name>Text Muted</Name>
      <Alias>textMuted</Alias>
      <Definition>F4A7F9E8-B30D-41FE-BABF-964B8430F55F</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>29</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>333034D3-493B-41BF-B4C2-34FB3B133D15</Key>
      <Name>Text Inverse</Name>
      <Alias>textInverse</Alias>
      <Definition>F4A7F9E8-B30D-41FE-BABF-964B8430F55F</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>30</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>08DC4090-8E0C-4405-BBC5-2659AA44407A</Key>
      <Name>Border Strong</Name>
      <Alias>borderStrong</Alias>
      <Definition>F4A7F9E8-B30D-41FE-BABF-964B8430F55F</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>31</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3EBA4B55-DAE7-456A-82FB-BD87C29729CE</Key>
      <Name>Border Subtle</Name>
      <Alias>borderSubtle</Alias>
      <Definition>F4A7F9E8-B30D-41FE-BABF-964B8430F55F</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>32</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>48902453-967A-4272-9509-C4833F5C185F</Key>
      <Name>Primary Action Background</Name>
      <Alias>actionPrimaryBg</Alias>
      <Definition>F4A7F9E8-B30D-41FE-BABF-964B8430F55F</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>33</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>546176AA-3E52-43EF-AEA0-A7931D6E900F</Key>
      <Name>Primary Action Background Hover</Name>
      <Alias>actionPrimaryBgHover</Alias>
      <Definition>F4A7F9E8-B30D-41FE-BABF-964B8430F55F</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>34</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>25D6C0F5-B5EB-4291-9117-F66DDEB1EE9A</Key>
      <Name>Primary Action Text</Name>
      <Alias>actionPrimaryText</Alias>
      <Definition>F4A7F9E8-B30D-41FE-BABF-964B8430F55F</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>35</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0FF06CD8-C869-43F7-9CBC-5985E08E0169</Key>
      <Name>Accent</Name>
      <Alias>actionAccent</Alias>
      <Definition>F4A7F9E8-B30D-41FE-BABF-964B8430F55F</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>36</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5A35B846-B418-4619-BE37-20DD928ECCC9</Key>
      <Name>Focus Ring</Name>
      <Alias>focusRing</Alias>
      <Definition>F4A7F9E8-B30D-41FE-BABF-964B8430F55F</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>38</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>D76289CD-3EA0-4C43-A50F-0BD07628DF21</Key>
      <Name>Space XS Mobile</Name>
      <Alias>spaceXsMobile</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>40</SortOrder>
      <Tab Alias="spaces">Spaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>CDC4EB20-3630-47BB-BEBF-61323758515D</Key>
      <Name>Space XS Tablet</Name>
      <Alias>spaceXsTablet</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>41</SortOrder>
      <Tab Alias="spaces">Spaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1E58134E-04DD-491A-A821-3CBDF49C1FA8</Key>
      <Name>Space XS Laptop</Name>
      <Alias>spaceXsLaptop</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>42</SortOrder>
      <Tab Alias="spaces">Spaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>DFA7E5CB-29ED-40E5-9E91-9B2539BC77EC</Key>
      <Name>Space XS Desktop</Name>
      <Alias>spaceXsDesktop</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>43</SortOrder>
      <Tab Alias="spaces">Spaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>AD86400A-F27F-47DC-9672-40C6564E9DBE</Key>
      <Name>Space SM Mobile</Name>
      <Alias>spaceSmMobile</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>44</SortOrder>
      <Tab Alias="spaces">Spaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>AAEAEA9D-C389-4E1B-BFAF-4F8E0AC39A88</Key>
      <Name>Space SM Tablet</Name>
      <Alias>spaceSmTablet</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>45</SortOrder>
      <Tab Alias="spaces">Spaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>FD6C3BA9-569F-488A-9A5E-B36F16A21BCF</Key>
      <Name>Space SM Laptop</Name>
      <Alias>spaceSmLaptop</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>46</SortOrder>
      <Tab Alias="spaces">Spaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>793FC79F-06C0-4D22-8FAD-A99BF4C347D1</Key>
      <Name>Space SM Desktop</Name>
      <Alias>spaceSmDesktop</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>47</SortOrder>
      <Tab Alias="spaces">Spaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>57DE444C-FFF2-442A-B6C0-BD5D098494F7</Key>
      <Name>Space MD Mobile</Name>
      <Alias>spaceMdMobile</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>48</SortOrder>
      <Tab Alias="spaces">Spaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8F7BFFE8-A19D-400F-9C47-DE498104EDB4</Key>
      <Name>Space MD Tablet</Name>
      <Alias>spaceMdTablet</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>49</SortOrder>
      <Tab Alias="spaces">Spaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>63A50311-BE28-4E01-ABAB-FAAD574D467F</Key>
      <Name>Space MD Laptop</Name>
      <Alias>spaceMdLaptop</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>50</SortOrder>
      <Tab Alias="spaces">Spaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8957163D-06E8-4244-AA5B-CBF981A4AC59</Key>
      <Name>Space MD Desktop</Name>
      <Alias>spaceMdDesktop</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>51</SortOrder>
      <Tab Alias="spaces">Spaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0EA334C4-5869-4F58-9F78-3498431AB313</Key>
      <Name>Space LG Mobile</Name>
      <Alias>spaceLgMobile</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>52</SortOrder>
      <Tab Alias="spaces">Spaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>C85ADFC2-4396-4641-B515-D8278BAB9D8E</Key>
      <Name>Space LG Tablet</Name>
      <Alias>spaceLgTablet</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>53</SortOrder>
      <Tab Alias="spaces">Spaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>B14DA1B9-F8FA-491C-B23E-099DD01302A4</Key>
      <Name>Space LG Laptop</Name>
      <Alias>spaceLgLaptop</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>54</SortOrder>
      <Tab Alias="spaces">Spaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>256518D5-20E6-4F44-A8E9-C76FDAE3ACFA</Key>
      <Name>Space LG Desktop</Name>
      <Alias>spaceLgDesktop</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>55</SortOrder>
      <Tab Alias="spaces">Spaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>942F9CBD-21F5-4DD6-9A48-57BEB7DF989D</Key>
      <Name>Space XL Mobile</Name>
      <Alias>spaceXlMobile</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>56</SortOrder>
      <Tab Alias="spaces">Spaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>90240A71-3DE1-42AB-B90D-7AB2F153529F</Key>
      <Name>Space XL Tablet</Name>
      <Alias>spaceXlTablet</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>57</SortOrder>
      <Tab Alias="spaces">Spaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1EB7912D-F74F-4B27-8C7E-FB255B5CAD95</Key>
      <Name>Space XL Laptop</Name>
      <Alias>spaceXlLaptop</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>58</SortOrder>
      <Tab Alias="spaces">Spaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>E7D7C3C6-273E-47F4-95EE-78DD008ACCE9</Key>
      <Name>Space XL Desktop</Name>
      <Alias>spaceXlDesktop</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>59</SortOrder>
      <Tab Alias="spaces">Spaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>41D63C3A-588B-4442-AA8A-EDA99B9D5654</Key>
      <Name>Radius Full</Name>
      <Alias>radiusFull</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>64</SortOrder>
      <Tab Alias="radius">Radius</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>DE30EA10-C3C0-463C-9B3B-44A0733E52BF</Key>
      <Name>Line Height Tight</Name>
      <Alias>lineHeightTight</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>71</SortOrder>
      <Tab Alias="fonts&amp;LineHeights">Fonts &amp; Line Heights</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>EF02D57A-25B8-4408-B70B-9FBE1BC2FE11</Key>
      <Name>Line Height Base</Name>
      <Alias>lineHeightBase</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>72</SortOrder>
      <Tab Alias="fonts&amp;LineHeights">Fonts &amp; Line Heights</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>45F0EFF7-9D7D-48D7-9031-6346059D2933</Key>
      <Name>Layout Header Height</Name>
      <Alias>layoutHeaderHeight</Alias>
      <Definition>0CC0EBA1-9960-42C9-BF9B-60E150B429AE</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>78</SortOrder>
      <Tab Alias="layout">Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7625F72D-9ABE-4118-AE5E-B25B08E1471B</Key>
      <Caption>Colours</Caption>
      <Alias>colours</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>912C20E4-8FFA-490A-B690-CC306F3C869F</Key>
      <Caption>Spaces</Caption>
      <Alias>spaces</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>6203CDFF-B1DF-4D71-8187-D9AC80BD0C55</Key>
      <Caption>Layout</Caption>
      <Alias>layout</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>F7F48F6E-EDAA-4959-A468-B0BD9735F528</Key>
      <Caption>Shadows</Caption>
      <Alias>shadows</Alias>
      <Type>Group</Type>
      <SortOrder>6</SortOrder>
    </Tab>
    <Tab>
      <Key>6BCB2CED-9078-4661-AB13-B7CC4E2DF831</Key>
      <Caption>Fonts &amp; Line Heights</Caption>
      <Alias>fonts&amp;LineHeights</Alias>
      <Type>Group</Type>
      <SortOrder>7</SortOrder>
    </Tab>
    <Tab>
      <Key>2087DF26-0DE3-43A0-B285-EF39406B4121</Key>
      <Caption>Radius</Caption>
      <Alias>radius</Alias>
      <Type>Group</Type>
      <SortOrder>8</SortOrder>
    </Tab>
    <Tab>
      <Key>364B9C29-E853-4BE2-99AF-75ECF8AC5DE1</Key>
      <Caption>Advanced</Caption>
      <Alias>advanced</Alias>
      <Type>Group</Type>
      <SortOrder>9</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
