<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c56b33e6-732a-4f80-a08a-eb618ebd7711" Alias="footer" Level="1">
  <Info>
    <Name>Footer</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Global footer content and settings, including logo, navigation, and layout options.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6e157831-cc91-408b-8ec5-5ac62f0aa5c2</Key>
      <Name>Gutter Text</Name>
      <Alias>copyright</Alias>
      <Definition>a08b80c8-e1d4-4296-93cd-83b2b65e5adc</Definition>
      <Type>Umbraco.SingleBlock</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text shown below the Footer.  Eg T&Cs, Trading names, © 2026 Your Site Name.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>29e4e135-d20d-4f80-a948-6baa28c84415</Key>
      <Name>Footer Logo</Name>
      <Alias>footerLogo</Alias>
      <Definition>ab32098d-cff8-430b-9c8c-1d90b49e1bbd</Definition>
      <Type>Umbraco.SingleBlock</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>419f3858-af95-4322-b1ba-be2a5b19754d</Key>
      <Name>Footer Navigation</Name>
      <Alias>footerNavigation</Alias>
      <Definition>97a31db3-2ea5-4de8-abf7-ea85e0ea151c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Groups of links shown in the footer navigation. Each group can have a title and a list of links.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a06dfc4b-4942-4f70-add3-b38449242e37</Key>
      <Name>Footer Text</Name>
      <Alias>footerText</Alias>
      <Definition>a08b80c8-e1d4-4296-93cd-83b2b65e5adc</Definition>
      <Type>Umbraco.SingleBlock</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional formatted footer text for legal notes, contact details or supporting information.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>897c2fec-f6ea-4670-9cac-e89a11a863ac</Key>
      <Name>Social Links</Name>
      <Alias>socialLinks</Alias>
      <Definition>97a31db3-2ea5-4de8-abf7-ea85e0ea151c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Groups of Social links shown in the footer navigation. Each group can have a title and a list of links.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</ContentType>