<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d6dd48ee-038d-402b-b47b-fca4005f882f" Alias="gridStyleSettings" Level="1">
  <Info>
    <Name>_Grid Style Settings</Name>
    <Icon>icon-settings</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0188d828-f0ae-4fdd-8ca2-b61caedaf59f</Key>
      <Name>Column Gap</Name>
      <Alias>columnGap</Alias>
      <Definition>dd1d57d8-4141-4513-b0c9-d047b7b0490c</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the horizontal spacing token used between columns.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="styles">Styles</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0d6e66aa-59a9-4ed9-af89-6fb72339c3de</Key>
      <Name>Row Gap</Name>
      <Alias>rowGap</Alias>
      <Definition>dd1d57d8-4141-4513-b0c9-d047b7b0490c</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the vertical spacing token used between rows.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="styles">Styles</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0a20b650-614e-46ea-937c-ad29c94b8fac</Key>
      <Caption>Styles</Caption>
      <Alias>styles</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>