<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="35a9b6ec-d02d-45a9-9d31-860fb11e1202" Alias="linkList" Level="1">
  <Info>
    <Name>Link List</Name>
    <Icon>icon-list</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>List of flat links only</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>433d06c7-950d-478b-9151-7748d2053894</Key>
      <Name>Links</Name>
      <Alias>links</Alias>
      <Definition>bf97ecf1-96e0-4782-af0c-36835f1788f7</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[List of links.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="links">Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>63f97901-624e-4e47-95ec-75bc5828cc5a</Key>
      <Caption>Links</Caption>
      <Alias>links</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>