<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5083d4c7-e315-4d15-a24f-f386d1f983ca" Alias="page" Level="1">
  <Info>
    <Name>Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Standard site page with a block list body and summary content for listings.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>page</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7585d17a-932b-4279-8bcb-622a9519ca95">page</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1941249a-b275-4dbc-8698-26af5be56f18</Key>
      <Name>Content</Name>
      <Alias>blocks</Alias>
      <Definition>1eb9c651-cdf7-4ee7-ac48-7606f9154b2f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Create your page by adding banners, text, quotes, and lists.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2f363d0c-75c3-45d5-acf5-c2ee07cf305e</Key>
      <Name>Meta</Name>
      <Alias>meta</Alias>
      <Definition>b7b99d69-5dd7-442f-8405-2f6778f38327</Definition>
      <Type>Umbraco.SingleBlock</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional search and sharing settings for this page. These help control how the page appears in search results and how search engines handle it.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="details">Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b554b3ab-d34a-4daa-bb62-3e87ded18b80</Key>
      <Name>Social</Name>
      <Alias>social</Alias>
      <Definition>88264f95-fbd5-43b2-8d99-e0a4ad57974a</Definition>
      <Type>Umbraco.SingleBlock</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional social sharing settings for this page. These help control how the page appears when shared on social platforms.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="details">Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>afb1a768-3327-46c4-8bc4-f3453d6c45db</Key>
      <Name>Summary</Name>
      <Alias>summary</Alias>
      <Definition>f2ba86a9-8f64-4a8a-b2c4-5c6780f7e4b0</Definition>
      <Type>Umbraco.SingleBlock</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Summary used when this page appears in cards, listings, and previews.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="details">Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0d0800ec-61cb-4e2b-9d47-33dc5b7eca07</Key>
      <Caption>Details</Caption>
      <Alias>details</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>4be7d588-6277-4b43-b9e0-3032eff7be7c</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>