<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fa0031f6-a449-4015-869c-64b00a7a4af6" Alias="settingsStyles" Level="1">
  <Info>
    <Name>Settings Styles</Name>
    <Icon>icon-palette color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Semantic mappings that connect editor-facing UI tokens to primitive theme tokens and reusable design values.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7823e85b-9160-4d49-b635-344c798e9a91</Key>
      <Name>Primary Button Background</Name>
      <Alias>button-primary-background</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for primary button backgrounds.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="actions">Actions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ec4aaaa4-632c-4775-ac64-e36fbf949ec0</Key>
      <Name>Primary Button Text</Name>
      <Alias>button-primary-text</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for primary button text.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="actions">Actions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>21957312-3f87-469f-b489-c252391b6576</Key>
      <Name>Primary Button Hover Background</Name>
      <Alias>button-primary-hover-background</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for hovered primary button backgrounds.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="actions">Actions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ca5ee2a2-1939-456c-bc23-3fb935bbae37</Key>
      <Name>Primary Button Hover Text</Name>
      <Alias>button-primary-hover-text</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for text on hovered primary buttons.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="actions">Actions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>de52ec77-eb36-423f-9b8f-4bcd94cf05ee</Key>
      <Name>Secondary Button Background</Name>
      <Alias>button-secondary-background</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for secondary button backgrounds.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="actions">Actions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>455e70dd-37f6-4879-ba89-11925ec43312</Key>
      <Name>Secondary Button Text</Name>
      <Alias>button-secondary-text</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for secondary button text.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="actions">Actions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>71200cec-7d52-47e9-bf2c-d76246170809</Key>
      <Name>Secondary Button Hover Background</Name>
      <Alias>button-secondary-hover-background</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for hovered secondary button backgrounds.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="actions">Actions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c60feef7-3616-4752-ac0e-cee83e4f2fce</Key>
      <Name>Secondary Button Hover Text</Name>
      <Alias>button-secondary-hover-text</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for text on hovered secondary buttons.]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="actions">Actions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3d5fabe9-381c-46c6-86f4-d985ffb457a1</Key>
      <Name>Disabled Background</Name>
      <Alias>button-disabled-background</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for disabled backgrounds.]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="actions">Actions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>25017da6-911c-4108-9527-32ce8507472a</Key>
      <Name>Disabled Text</Name>
      <Alias>button-disabled-text</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for disabled text.]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="actions">Actions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>471a116e-5e5a-46a3-8744-6356f1c4ba96</Key>
      <Name>Disabled Border</Name>
      <Alias>button-disabled-border</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for disabled borders.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="actions">Actions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>87d83139-4a35-425d-b669-61d41e759597</Key>
      <Name>Link Colour</Name>
      <Alias>link-color</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for standard links.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="links">Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>01cc4d7c-b478-4058-b260-09054779bbed</Key>
      <Name>Link Hover Colour</Name>
      <Alias>link-hover-color</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for hovered links.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="links">Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>99c6d587-7c85-4597-8635-85bad5c6e306</Key>
      <Name>Link Active Colour</Name>
      <Alias>link-active-color</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for active links.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="links">Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2459b654-0158-4265-b172-9b1dba7dbd02</Key>
      <Name>Link Visited Colour</Name>
      <Alias>link-visited-color</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for visited links.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="links">Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>78d8a179-b629-4044-b8f3-941ed610b9b8</Key>
      <Name>Link Focus Colour</Name>
      <Alias>link-focus-color</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for focused links.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="links">Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>916f71ff-c73f-4510-854f-dd5b8f353cb4</Key>
      <Name>Body Text Colour</Name>
      <Alias>text-body-color</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for body text.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="text">Text</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e9b21c25-ea3d-4592-99bb-8275c8736fab</Key>
      <Name>Heading Text Colour</Name>
      <Alias>text-heading-color</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for heading text.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="text">Text</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f63e719a-acad-48fd-b8c7-168573bcea85</Key>
      <Name>Muted Text Colour</Name>
      <Alias>text-muted-color</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for muted text.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="text">Text</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5375a745-1dd6-4169-a2b4-d51dc73d8d2c</Key>
      <Name>Inverted Text Colour</Name>
      <Alias>text-inverted-color</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for text on inverted surfaces.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="text">Text</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a7bcc1c4-d147-4df7-b8b8-5850546fd0da</Key>
      <Name>Page Background</Name>
      <Alias>surface-page-background</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for the page background.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="surfaces">Surfaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b95dcf88-a0d8-453f-bc74-9058a29f742c</Key>
      <Name>Section Background</Name>
      <Alias>surface-section-background</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for section backgrounds.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="surfaces">Surfaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bf8c44a3-72e6-4491-8e35-e6a41f841015</Key>
      <Name>Card Background</Name>
      <Alias>surface-card-background</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for cards and panels.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="surfaces">Surfaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f3824179-7af5-4a29-a337-249fa5e8c1c5</Key>
      <Name>Inverted Background</Name>
      <Alias>surface-inverted-background</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for inverted or high-contrast surfaces.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="surfaces">Surfaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0ea7bc0c-fe39-4e4a-bdc4-20700aa278d7</Key>
      <Name>Default Border Colour</Name>
      <Alias>border-default-color</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for default borders.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="borders">Borders</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8248eb42-57c0-4459-bc02-05e32a880434</Key>
      <Name>Subtle Border Colour</Name>
      <Alias>border-subtle-color</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for subtle borders.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="borders">Borders</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c39a9e02-d469-424b-bdcb-6becf09e0afd</Key>
      <Name>Strong Border Colour</Name>
      <Alias>border-strong-color</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for strong borders.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="borders">Borders</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4fa951cc-c227-43c5-9fc8-899fab240c52</Key>
      <Name>Input Background</Name>
      <Alias>input-background</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for input backgrounds.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="forms">Forms</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1c74db41-4116-419c-aa30-d540e39749f7</Key>
      <Name>Input Text</Name>
      <Alias>input-text</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for input text.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="forms">Forms</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0b652122-e30e-4fad-8e98-855ba82586e8</Key>
      <Name>Input Border</Name>
      <Alias>input-border</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for input borders.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="forms">Forms</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>72fb5654-c83c-488c-87d3-20ce59bb5b7f</Key>
      <Name>Input Border Focus</Name>
      <Alias>input-border-focus</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for focused input borders.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="forms">Forms</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>217bfe0e-481b-40c9-9b56-91ea1d4fa0c7</Key>
      <Name>Input Placeholder</Name>
      <Alias>input-placeholder</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for placeholder text.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="forms">Forms</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e64f0580-0877-4e74-b744-a6bd0add7439</Key>
      <Name>Validation Error Colour</Name>
      <Alias>validation-error-color</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for validation errors.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="forms">Forms</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bfc724c0-c2f3-4a09-babf-cbb5560da566</Key>
      <Name>Validation Success Colour</Name>
      <Alias>validation-success-color</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for successful validation states.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="forms">Forms</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d736cd79-5f68-4b84-a19c-d2258fba0a9e</Key>
      <Name>Success Colour</Name>
      <Alias>feedback-success-color</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for success feedback.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="feedback">Feedback</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ff3da6f1-de12-4987-92e3-917340138279</Key>
      <Name>Warning Colour</Name>
      <Alias>feedback-warning-color</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for warning feedback.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="feedback">Feedback</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f740ec54-93c5-4367-aa03-268fa6258462</Key>
      <Name>Error Colour</Name>
      <Alias>feedback-error-color</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for error feedback.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="feedback">Feedback</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ee1f8427-abe6-455e-b8db-5fbfa0ada183</Key>
      <Name>Info Colour</Name>
      <Alias>feedback-info-color</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for informational feedback.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="feedback">Feedback</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bd7920fd-f227-4b36-b6cb-0a739a759c87</Key>
      <Name>Focus Ring Colour</Name>
      <Alias>focus-ring-color</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for focus rings.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="focus">Focus</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>11d9a4fa-8dbc-4434-9539-c7fedc4966ab</Key>
      <Name>Focus Ring Width</Name>
      <Alias>focus-ring-width</Alias>
      <Definition>b5c865a7-8524-41cb-a6ca-b8a6b26f65c9</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set the focus ring width as a validated dimension value.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="focus">Focus</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>265cc56e-ac72-4b6d-b528-66a3e61af36e</Key>
      <Name>Focus Ring Offset</Name>
      <Alias>focus-ring-offset</Alias>
      <Definition>b5c865a7-8524-41cb-a6ca-b8a6b26f65c9</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set the focus ring offset as a validated dimension value.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="focus">Focus</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a236acba-ff5f-4679-ab8f-9dacd96ec152</Key>
      <Name>Header Background</Name>
      <Alias>header-background</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for the header background.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4ce40a85-95ba-4913-b169-4f263e32eaa5</Key>
      <Name>Header Text Colour</Name>
      <Alias>header-text-color</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for header text.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c787f844-45ea-4193-9f68-61be73643e45</Key>
      <Name>Header Link Colour</Name>
      <Alias>header-link-color</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for header links.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4abf8c30-8d86-4e43-b1a5-b6f8ac5aadfb</Key>
      <Name>Header Link Hover Colour</Name>
      <Alias>header-link-hover-color</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for hovered header links.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5e3e6493-406e-4372-9863-8c21600668ac</Key>
      <Name>Footer Background</Name>
      <Alias>footer-background</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for the footer background.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>40e21021-e29c-4757-8159-5e681c1e41bc</Key>
      <Name>Footer Text Colour</Name>
      <Alias>footer-text-color</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for footer text.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e681829b-3669-46dc-9850-5f8dd7380545</Key>
      <Name>Footer Link Colour</Name>
      <Alias>footer-link-color</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for footer links.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a770869f-b142-4692-9d88-e13e26fef1b5</Key>
      <Name>Footer Link Hover Colour</Name>
      <Alias>footer-link-hover-color</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for hovered footer links.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>263d3447-a5cd-487d-b6ba-ba6d508685bf</Key>
      <Name>Card Radius</Name>
      <Alias>card-radius</Alias>
      <Definition>6d5eb7db-6062-4a5b-b379-eb7d038bcfb5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the token used for default card radius.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="componentDefaults">Component Defaults</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>92d7da86-9bc8-4ef8-b430-2201250ee6ee</Key>
      <Name>Card Shadow</Name>
      <Alias>card-shadow</Alias>
      <Definition>5ec526fc-81cd-4dd1-8606-c34a716dc63d</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the token used for default card shadow.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="componentDefaults">Component Defaults</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b348d1c9-ec92-47e6-9bc4-2f2de5ff6c52</Key>
      <Name>Section Spacing</Name>
      <Alias>section-spacing</Alias>
      <Definition>dd1d57d8-4141-4513-b0c9-d047b7b0490c</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the token used for default section spacing.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="componentDefaults">Component Defaults</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d127975d-ff6d-4f49-a58b-e5c36ccd2dc6</Key>
      <Name>Container Width</Name>
      <Alias>container-width</Alias>
      <Definition>4f419c96-1f4a-473b-982c-4f426c3125d8</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the token used for default container width.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="componentDefaults">Component Defaults</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d6bb4981-5801-4b31-ac03-581854b320a4</Key>
      <Name>Additional Tokens</Name>
      <Alias>additionalTokens</Alias>
      <Definition>f5a6dc85-aa3d-4f08-a16e-97d4abec4511</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Additional validated semantic tokens for admin use when the named fields are not sufficient.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="advanced">Advanced</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>99ab52ee-db3d-47d6-a0a1-4baa942d1478</Key>
      <Caption>Actions</Caption>
      <Alias>actions</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>42a26a32-e785-46e8-aa58-2005030e63bd</Key>
      <Caption>Links</Caption>
      <Alias>links</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>bd4635d6-30ee-4bdc-8895-ea11409557ee</Key>
      <Caption>Text</Caption>
      <Alias>text</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>f8864a9a-ce33-4a43-a1d5-b7cfb3b8cd02</Key>
      <Caption>Surfaces</Caption>
      <Alias>surfaces</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>d63ffe47-eac8-41ec-9a86-c3f27eb5889a</Key>
      <Caption>Borders</Caption>
      <Alias>borders</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>435dac2e-2166-430e-b305-4e75d7551398</Key>
      <Caption>Forms</Caption>
      <Alias>forms</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>55aa85a0-294e-47dd-bece-d2b0442ae555</Key>
      <Caption>Feedback</Caption>
      <Alias>feedback</Alias>
      <Type>Group</Type>
      <SortOrder>6</SortOrder>
    </Tab>
    <Tab>
      <Key>e3250dca-ced9-4e34-b638-ad02e4af6bf6</Key>
      <Caption>Focus</Caption>
      <Alias>focus</Alias>
      <Type>Group</Type>
      <SortOrder>7</SortOrder>
    </Tab>
    <Tab>
      <Key>5f6339a2-15ea-4655-96ed-7b10e7c7843c</Key>
      <Caption>Header</Caption>
      <Alias>header</Alias>
      <Type>Group</Type>
      <SortOrder>8</SortOrder>
    </Tab>
    <Tab>
      <Key>69f32764-6528-4561-bdbb-af306b6ea856</Key>
      <Caption>Footer</Caption>
      <Alias>footer</Alias>
      <Type>Group</Type>
      <SortOrder>9</SortOrder>
    </Tab>
    <Tab>
      <Key>0add63d2-960b-4d92-9c6e-3b29ac22799d</Key>
      <Caption>Component Defaults</Caption>
      <Alias>componentDefaults</Alias>
      <Type>Group</Type>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Key>4f971cf5-404a-450f-8f0e-be0d79ac591a</Key>
      <Caption>Advanced</Caption>
      <Alias>advanced</Alias>
      <Type>Group</Type>
      <SortOrder>11</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
