<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="72d179bc-35ce-4896-948c-3f36f367f8d5" Alias="siteHeaderSettings" Level="1">
  <Info>
    <Name>Header</Name>
    <Icon>icon-navigation-top</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Global header content and settings.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>db79a712-96b6-4168-b939-2fd5fad95be2</Key>
      <Name>Header</Name>
      <Alias>header</Alias>
      <Definition>fe5032cf-dfa2-4756-834a-9148668a179c</Definition>
      <Type>Umbraco.SingleBlock</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Global header content and settings, including logo, navigation, and layout options.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7737bad1-ccf1-4679-b104-b4f8c2545e89</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
