<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="66d73f56-80f6-4739-ab75-618435f4f724" Alias="social" Level="1">
  <Info>
    <Name>Social</Name>
    <Icon>icon-share-alt-2</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Optional social sharing settings for this page.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f4b1ae53-9a2e-4368-bc55-e2982f428317</Key>
      <Name>Social Description</Name>
      <Alias>socialDescription</Alias>
      <Definition>b05f6d9f-65be-494d-ae20-d31db1cb1d0e</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional short description used when this page is shared on social platforms.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="meta">Meta</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e07f9e4a-f013-4483-ac75-613e66fbad7e</Key>
      <Name>Social Image</Name>
      <Alias>socialImage</Alias>
      <Definition>1768b9c3-0b3e-4ccf-a8d5-0c7f90c11a3a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional image used when this page is shared on social platforms. Includes a local Open Graph crop at 1200 x 630.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="meta">Meta</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>60b4dfe0-ec12-4551-9d84-ee84e0954f46</Key>
      <Name>Social Title</Name>
      <Alias>socialTitle</Alias>
      <Definition>62d4cabd-fbdf-49d6-bbf9-b7db87a0ce36</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional title used when this page is shared on social platforms.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="meta">Meta</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2f9b6a64-5c8b-4224-b5ed-3e54f48b7d6d</Key>
      <Caption>Meta</Caption>
      <Alias>meta</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>