<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a8bbce95-0fba-4cb4-b0b9-4f8cf24367f7" Alias="spacings" Level="1">
  <Info>
    <Name>Spacings</Name>
    <Icon>icon-ruler</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Spacing values used in your site's theme.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4282cb3c-6215-460d-a6f6-e461389a6a94</Key>
      <Name>xs</Name>
      <Alias>spacingXs</Alias>
      <Definition>56d31bea-05bd-4c78-a26b-8f0f5061847b</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[space-xs]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2a062a60-b3bc-4b9f-a9bc-b102b6dd1e22</Key>
      <Name>sm</Name>
      <Alias>spacingSm</Alias>
      <Definition>56d31bea-05bd-4c78-a26b-8f0f5061847b</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[space-sm]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>06c83604-952c-4ac1-bb88-b282a211e0db</Key>
      <Name>md</Name>
      <Alias>spacingMd</Alias>
      <Definition>56d31bea-05bd-4c78-a26b-8f0f5061847b</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[space-md]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d42d3cc0-7e65-44c0-9b69-00ea178cfad6</Key>
      <Name>lg</Name>
      <Alias>spacingLg</Alias>
      <Definition>56d31bea-05bd-4c78-a26b-8f0f5061847b</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[space-lg]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a4c9f6c2-e565-4ba0-986e-625189bdc096</Key>
      <Name>xl</Name>
      <Alias>spacingXl</Alias>
      <Definition>56d31bea-05bd-4c78-a26b-8f0f5061847b</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[space-xl]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>831d640f-c0cd-4168-8d2d-8452f172817d</Key>
      <Name>2xl</Name>
      <Alias>spacing2Xl</Alias>
      <Definition>56d31bea-05bd-4c78-a26b-8f0f5061847b</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[space-2xl]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e36ff7a5-8fef-4a15-9010-5be0c8cf9687</Key>
      <Name>Additional Spacings</Name>
      <Alias>spacingTokens</Alias>
      <Definition>8df340d3-2261-4c09-af3f-8c30c75efd79</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Additional responsive spacing tokens beyond the core spacing scale. Each token has mobile, tablet, and desktop values.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1800fa6c-f687-41b3-90e5-fe3431872287</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
