<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b62152da-ae03-47ea-9bd5-2d9818a8bfa3" Alias="spacingToken" Level="1">
  <Info>
    <Name>Spacing Token</Name>
    <Icon>icon-ruler</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Editable responsive spacing token definition managed from site settings.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6a5964dc-9b77-4fa3-b959-13c02bc88f53</Key>
      <Name>Alias</Name>
      <Alias>alias</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Stable semantic token key, for example <code>space-md</code>.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Enter an alias.</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>193eb7b0-5627-42be-b2d5-7b2a18da0d80</Key>
      <Name>Desktop</Name>
      <Alias>desktop</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Token value at the desktop breakpoint.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="values">Values</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Enter a desktop value.</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9e1ab2a8-05bd-417b-99e2-23f1803f4d2c</Key>
      <Name>Label</Name>
      <Alias>label</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Editor-facing label for the token picker UI.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Enter a label.</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c90dc8a8-d9b9-4dd0-b922-5bfcbffbe7d0</Key>
      <Name>Laptop</Name>
      <Alias>laptop</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Token value at the laptop breakpoint.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="values">Values</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Enter a laptop value.</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>89f997d6-e12f-4d6f-a2c0-478bd2700fec</Key>
      <Name>Mobile</Name>
      <Alias>mobile</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Token value at the mobile breakpoint.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="values">Values</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Enter a mobile value.</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>424032f7-c5a8-4b89-bc79-518c90c96e3b</Key>
      <Name>Tablet</Name>
      <Alias>tablet</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Token value at the tablet breakpoint.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="values">Values</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Enter a tablet value.</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3ad56dd4-0d62-4319-bbc8-a3cbb3802fb8</Key>
      <Caption>Values</Caption>
      <Alias>values</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>836e7a85-664f-4f17-b78f-09ee982e8b61</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>