<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6597683f-7f26-4ca3-ba55-6e73dfb7141f" Alias="styleSettings" Level="1">
  <Info>
    <Name>Style Settings</Name>
    <Icon>icon-settings-alt</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Design system settings and controls used to keep the site’s design, branding, and reusable UI patterns consistent across the CMS.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0ff06cd8-c869-43f7-9cbc-5985e08e0169</Key>
      <Name>Accent</Name>
      <Alias>actionAccent</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>36</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>48902453-967a-4272-9509-c4833f5c185f</Key>
      <Name>Primary Action Background</Name>
      <Alias>actionPrimaryBg</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>33</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>546176aa-3e52-43ef-aea0-a7931d6e900f</Key>
      <Name>Primary Action Background Hover</Name>
      <Alias>actionPrimaryBgHover</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>34</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>25d6c0f5-b5eb-4291-9117-f66ddeb1ee9a</Key>
      <Name>Primary Action Text</Name>
      <Alias>actionPrimaryText</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>35</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>18c92f6d-3363-46f1-91a5-a140a2e6ae99</Key>
      <Name>Additional Tokens</Name>
      <Alias>additionalTokens</Alias>
      <Definition>f5a6dc85-aa3d-4f08-a16e-97d4abec4511</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Additional non-responsive design-system values beyond the named core token groups.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="advanced">Advanced</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>08dc4090-8e0c-4405-bbc5-2659aa44407a</Key>
      <Name>Border Strong</Name>
      <Alias>borderStrong</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>31</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3eba4b55-dae7-456a-82fb-bd87c29729ce</Key>
      <Name>Border Subtle</Name>
      <Alias>borderSubtle</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>32</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f6b65acb-9e1f-4b46-9eb6-df30db3488cb</Key>
      <Name>Brand</Name>
      <Alias>brand</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7f5e4824-257c-42b8-bff1-029e1a5cbddd</Key>
      <Name>Brand Hover</Name>
      <Alias>brandHover</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5a35b846-b418-4619-be37-20dd928eccc9</Key>
      <Name>Focus Ring</Name>
      <Alias>focusRing</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>38</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8e31829b-ee6f-45f2-abf0-5fee04ef8a69</Key>
      <Name>Font Family Display</Name>
      <Alias>fontFamilyDisplay</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="fonts&amp;LineHeights">Fonts &amp; Line Heights</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>24bbef5d-007c-4cbf-8dce-42eb9e6c7126</Key>
      <Name>Font Family Sans</Name>
      <Alias>fontFamilySans</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="fonts&amp;LineHeights">Fonts &amp; Line Heights</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ee5dc1e6-c35a-4d7d-b4cc-17d6bd0a2186</Key>
      <Name>Font Size 2XL</Name>
      <Alias>fontSize2Xl</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="fonts&amp;LineHeights">Fonts &amp; Line Heights</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d216301e-6663-46c8-a519-5c94999ea352</Key>
      <Name>Font Size Base</Name>
      <Alias>fontSizeBase</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="fonts&amp;LineHeights">Fonts &amp; Line Heights</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>51db2e41-3867-4e9e-ba67-68145da4af7e</Key>
      <Name>Font Size LG</Name>
      <Alias>fontSizeLg</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="fonts&amp;LineHeights">Fonts &amp; Line Heights</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>38cb368e-adbc-4468-be38-3d17fd3c0ae8</Key>
      <Name>Font Size SM</Name>
      <Alias>fontSizeSm</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="fonts&amp;LineHeights">Fonts &amp; Line Heights</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>377e3f7b-7a33-4da7-9714-46ba21016ba9</Key>
      <Name>Font Size XL</Name>
      <Alias>fontSizeXl</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="fonts&amp;LineHeights">Fonts &amp; Line Heights</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cc7e83d8-fc47-4103-89b0-6dc51c7529cf</Key>
      <Name>Layout Gutter</Name>
      <Alias>layoutGutter</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="layout">Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>45f0eff7-9d7d-48d7-9031-6346059d2933</Key>
      <Name>Layout Header Height</Name>
      <Alias>layoutHeaderHeight</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>78</SortOrder>
      <Tab Alias="layout">Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c0019dfd-5eb4-4e00-88f5-b963c2502ba6</Key>
      <Name>Layout Width Content</Name>
      <Alias>layoutWidthContent</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="layout">Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>afdbd7e5-533e-47f7-b043-9aa1fd64cea0</Key>
      <Name>Layout Width Reading</Name>
      <Alias>layoutWidthReading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="layout">Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ef02d57a-25b8-4408-b70b-9fbe1bc2fe11</Key>
      <Name>Line Height Base</Name>
      <Alias>lineHeightBase</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>72</SortOrder>
      <Tab Alias="fonts&amp;LineHeights">Fonts &amp; Line Heights</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>de30ea10-c3c0-463c-9b3b-44a0733e52bf</Key>
      <Name>Line Height Tight</Name>
      <Alias>lineHeightTight</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>71</SortOrder>
      <Tab Alias="fonts&amp;LineHeights">Fonts &amp; Line Heights</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>41d63c3a-588b-4442-aa8a-eda99b9d5654</Key>
      <Name>Radius Full</Name>
      <Alias>radiusFull</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>64</SortOrder>
      <Tab Alias="radius">Radius</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d998e63b-d051-435d-b550-e7e3e93ce4b5</Key>
      <Name>Radius LG</Name>
      <Alias>radiusLg</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="radius">Radius</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6d4d1d4d-807b-4b9a-a5f3-2e40208b7239</Key>
      <Name>Radius MD</Name>
      <Alias>radiusMd</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="radius">Radius</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a19758a2-422d-4ca2-9ef3-c2dbaaaf17b8</Key>
      <Name>Radius Pill</Name>
      <Alias>radiusPill</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="radius">Radius</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d118d50e-f32b-477f-b3da-bbe65d0c07ff</Key>
      <Name>Radius SM</Name>
      <Alias>radiusSm</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="radius">Radius</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7e90fa67-fe91-417e-b514-3c0aeca0d817</Key>
      <Name>Shadow Focus</Name>
      <Alias>shadowFocus</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="shadows">Shadows</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8d4174f6-afb1-4369-9d2c-6e7cea433f86</Key>
      <Name>Shadow Lifted</Name>
      <Alias>shadowLifted</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="shadows">Shadows</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d8f31c49-90c6-4b7c-8a02-60fc35796fe3</Key>
      <Name>Shadow Raised</Name>
      <Alias>shadowRaised</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="shadows">Shadows</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6bebffb1-c25d-45e7-931b-9d6b433b4cc3</Key>
      <Name>Surface Footer</Name>
      <Alias>surfaceFooter</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>26</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5d5d3fd5-a8b3-4e7a-9f26-1de70cbb26be</Key>
      <Name>Surface Header</Name>
      <Alias>surfaceHeader</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>25</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f124ff2f-f411-42c6-b112-75a01971cdfb</Key>
      <Name>Surface Page</Name>
      <Alias>surfacePage</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b6dd0deb-d1fb-4f17-81ce-1c6eb30a9720</Key>
      <Name>Surface Panel</Name>
      <Alias>surfacePanel</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ee064447-a640-45b3-b0fd-2067e38358ba</Key>
      <Name>Surface Panel Muted</Name>
      <Alias>surfacePanelMuted</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>24</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dbd849c6-1014-44a5-b962-4b1335c77bd1</Key>
      <Name>Text Default</Name>
      <Alias>textDefault</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>27</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>333034d3-493b-41bf-b4c2-34fb3b133d15</Key>
      <Name>Text Inverse</Name>
      <Alias>textInverse</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>30</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>64379863-2e6f-4eca-815e-53345a8d9903</Key>
      <Name>Text Muted</Name>
      <Alias>textMuted</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>29</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>15602958-5d14-4a97-87f1-df6b7dad8023</Key>
      <Name>Text Strong</Name>
      <Alias>textStrong</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>28</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2087df26-0de3-43a0-b285-ef39406b4121</Key>
      <Caption>Radius</Caption>
      <Alias>radius</Alias>
      <Type>Group</Type>
      <SortOrder>8</SortOrder>
    </Tab>
    <Tab>
      <Key>364b9c29-e853-4be2-99af-75ecf8ac5de1</Key>
      <Caption>Advanced</Caption>
      <Alias>advanced</Alias>
      <Type>Group</Type>
      <SortOrder>9</SortOrder>
    </Tab>
    <Tab>
      <Key>6203cdff-b1df-4d71-8187-d9ac80bd0c55</Key>
      <Caption>Layout</Caption>
      <Alias>layout</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>6bcb2ced-9078-4661-ab13-b7cc4e2df831</Key>
      <Caption>Fonts &amp; Line Heights</Caption>
      <Alias>fonts&amp;LineHeights</Alias>
      <Type>Group</Type>
      <SortOrder>7</SortOrder>
    </Tab>
    <Tab>
      <Key>7625f72d-9abe-4118-ae5e-b25b08e1471b</Key>
      <Caption>Colours</Caption>
      <Alias>colours</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>f7f48f6e-edaa-4959-a468-b0bd9735f528</Key>
      <Caption>Shadows</Caption>
      <Alias>shadows</Alias>
      <Type>Group</Type>
      <SortOrder>6</SortOrder>
    </Tab>
  </Tabs>
</ContentType>