<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6597683f-7f26-4ca3-ba55-6e73dfb7141f" Alias="styleSettings" Level="1">
  <Info>
    <Name>Style Settings</Name>
    <Icon>icon-settings-alt</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Design system settings and controls used to keep the site’s design, branding, and reusable UI patterns consistent across the CMS.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0ff06cd8-c869-43f7-9cbc-5985e08e0169</Key>
      <Name>Accent</Name>
      <Alias>actionAccent</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>36</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>48902453-967a-4272-9509-c4833f5c185f</Key>
      <Name>Primary Action Background</Name>
      <Alias>actionPrimaryBg</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>33</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>546176aa-3e52-43ef-aea0-a7931d6e900f</Key>
      <Name>Primary Action Background Hover</Name>
      <Alias>actionPrimaryBgHover</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>34</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>25d6c0f5-b5eb-4291-9117-f66ddeb1ee9a</Key>
      <Name>Primary Action Text</Name>
      <Alias>actionPrimaryText</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>35</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>18c92f6d-3363-46f1-91a5-a140a2e6ae99</Key>
      <Name>Additional Tokens</Name>
      <Alias>additionalTokens</Alias>
      <Definition>f5a6dc85-aa3d-4f08-a16e-97d4abec4511</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Additional non-responsive design-system values beyond the named core token groups.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="advanced">Advanced</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>08dc4090-8e0c-4405-bbc5-2659aa44407a</Key>
      <Name>Border Strong</Name>
      <Alias>borderStrong</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>31</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3eba4b55-dae7-456a-82fb-bd87c29729ce</Key>
      <Name>Border Subtle</Name>
      <Alias>borderSubtle</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>32</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f6b65acb-9e1f-4b46-9eb6-df30db3488cb</Key>
      <Name>Brand</Name>
      <Alias>brand</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7f5e4824-257c-42b8-bff1-029e1a5cbddd</Key>
      <Name>Brand Hover</Name>
      <Alias>brandHover</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5a35b846-b418-4619-be37-20dd928eccc9</Key>
      <Name>Focus Ring</Name>
      <Alias>focusRing</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>38</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6bebffb1-c25d-45e7-931b-9d6b433b4cc3</Key>
      <Name>Surface Footer</Name>
      <Alias>surfaceFooter</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>26</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5d5d3fd5-a8b3-4e7a-9f26-1de70cbb26be</Key>
      <Name>Surface Header</Name>
      <Alias>surfaceHeader</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>25</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f124ff2f-f411-42c6-b112-75a01971cdfb</Key>
      <Name>Surface Page</Name>
      <Alias>surfacePage</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b6dd0deb-d1fb-4f17-81ce-1c6eb30a9720</Key>
      <Name>Surface Panel</Name>
      <Alias>surfacePanel</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ee064447-a640-45b3-b0fd-2067e38358ba</Key>
      <Name>Surface Panel Muted</Name>
      <Alias>surfacePanelMuted</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>24</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dbd849c6-1014-44a5-b962-4b1335c77bd1</Key>
      <Name>Text Default</Name>
      <Alias>textDefault</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>27</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>333034d3-493b-41bf-b4c2-34fb3b133d15</Key>
      <Name>Text Inverse</Name>
      <Alias>textInverse</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>30</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>64379863-2e6f-4eca-815e-53345a8d9903</Key>
      <Name>Text Muted</Name>
      <Alias>textMuted</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>29</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>15602958-5d14-4a97-87f1-df6b7dad8023</Key>
      <Name>Text Strong</Name>
      <Alias>textStrong</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>28</SortOrder>
      <Tab Alias="colours">Colours</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>364b9c29-e853-4be2-99af-75ecf8ac5de1</Key>
      <Caption>Advanced</Caption>
      <Alias>advanced</Alias>
      <Type>Group</Type>
      <SortOrder>9</SortOrder>
    </Tab>
    <Tab>
      <Key>6203cdff-b1df-4d71-8187-d9ac80bd0c55</Key>
      <Caption>Containers</Caption>
      <Alias>containers</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>7625f72d-9abe-4118-ae5e-b25b08e1471b</Key>
      <Caption>Colours</Caption>
      <Alias>colours</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
