<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d4a0a510-b114-431a-9cc8-96b5a2782b16" Alias="summary" Level="1">
  <Info>
    <Name>Summary</Name>
    <Icon>icon-thumbnail-list</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Summary used when this page appears in cards, listings, and previews.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9b46cb99-88a7-41ea-bf68-f0f9ab74841a</Key>
      <Name>Short Description</Name>
      <Alias>summaryContent</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional short description used in cards, listings, and previews.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="summary">Summary</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1d2a5ec5-d214-402d-a3d2-2d8ca0d617d1</Key>
      <Name>Image</Name>
      <Alias>summaryImage</Alias>
      <Definition>a5c8013a-4ed3-4c16-a22d-a47db5724eff</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional image used when this page appears in cards, listings, and previews.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="summary">Summary</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>850716fa-0b72-4639-b722-7d4b4ef299bd</Key>
      <Name>Title</Name>
      <Alias>summaryTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional title for cards, listings, and previews. If left empty, the page name is used.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="summary">Summary</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f66825cc-8bd9-4fa8-9447-b005e9be28ea</Key>
      <Caption>Summary</Caption>
      <Alias>summary</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>