<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5e4a6c83-b425-4587-a1d4-5dcc95d1b19a" Alias="themeStyleRoles" Level="1">
  <Info>
    <Name>Theme Style Roles</Name>
    <Icon>icon-palette color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Semantic mappings that connect editor-facing UI tokens to primitive theme tokens and reusable design values.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8e63cdf7-464b-479d-a3f8-aaec9592186d</Key>
      <Name>Additional Tokens</Name>
      <Alias>additionalTokens</Alias>
      <Definition>f5a6dc85-aa3d-4f08-a16e-97d4abec4511</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Additional validated semantic tokens for admin use when the named fields are not sufficient.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="advanced">Advanced</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ff4c2337-9a82-4953-8e48-c2cd5b1306c0</Key>
      <Name>Body Text Colour</Name>
      <Alias>bodyTextColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for body text.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="text">Text</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>174f68ba-e773-4b4a-9f30-f91d1533a1f9</Key>
      <Name>Card Background</Name>
      <Alias>cardBackground</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for cards and panels.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="surfaces">Surfaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2694c242-a2ec-4150-bbe8-a2066179a162</Key>
      <Name>Card Radius</Name>
      <Alias>cardRadius</Alias>
      <Definition>6d5eb7db-6062-4a5b-b379-eb7d038bcfb5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the token used for default card radius.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="componentDefaults">Component Defaults</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>812dc29e-c9fb-48e7-bf6f-d5dd08c17ef8</Key>
      <Name>Card Shadow</Name>
      <Alias>cardShadow</Alias>
      <Definition>5ec526fc-81cd-4dd1-8606-c34a716dc63d</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the token used for default card shadow.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="componentDefaults">Component Defaults</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ec07eaf9-a58d-48e2-9a39-a53f6bc7b5fa</Key>
      <Name>Container Width</Name>
      <Alias>containerWidth</Alias>
      <Definition>4f419c96-1f4a-473b-982c-4f426c3125d8</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the token used for default container width.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="componentDefaults">Component Defaults</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e72de0d6-b868-4279-9988-60f31a6972f9</Key>
      <Name>Default Border Colour</Name>
      <Alias>defaultBorderColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for default borders.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="borders">Borders</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>22bcbfb0-1808-4958-b9dd-d4c433d3215f</Key>
      <Name>Disabled Background</Name>
      <Alias>disabledBackground</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for disabled backgrounds.]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="actions">Actions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fd98d6ce-fa34-4818-8c07-3d1e2bd88e37</Key>
      <Name>Disabled Border</Name>
      <Alias>disabledBorder</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for disabled borders.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="actions">Actions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7c3131ff-a8a6-4d62-9d0a-3d523c4dc19a</Key>
      <Name>Disabled Text</Name>
      <Alias>disabledText</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for disabled text.]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="actions">Actions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>aca78ca8-a9a9-4ce1-a6c3-0e5bca1caf5c</Key>
      <Name>Error Colour</Name>
      <Alias>errorColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for error feedback.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="feedback">Feedback</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>52ab1e94-304d-4f97-aa8e-9030e3b577d6</Key>
      <Name>Focus Ring Colour</Name>
      <Alias>focusRingColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for focus rings.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="focus">Focus</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4df35ab6-f9a8-4b2c-9789-7ee8832f1842</Key>
      <Name>Focus Ring Offset</Name>
      <Alias>focusRingOffset</Alias>
      <Definition>b5c865a7-8524-41cb-a6ca-b8a6b26f65c9</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set the focus ring offset as a validated dimension value.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="focus">Focus</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3ec8ac0d-3fa4-4109-90cf-f35b571e2cc1</Key>
      <Name>Focus Ring Width</Name>
      <Alias>focusRingWidth</Alias>
      <Definition>b5c865a7-8524-41cb-a6ca-b8a6b26f65c9</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set the focus ring width as a validated dimension value.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="focus">Focus</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b0f08bbb-2d71-491b-a21e-3260dc5dfd75</Key>
      <Name>Footer Background</Name>
      <Alias>footerBackground</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for the footer background.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a87a7973-89ff-4c77-b693-15b8250cd8fe</Key>
      <Name>Footer Link Colour</Name>
      <Alias>footerLinkColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for footer links.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>210e7a45-90ef-4e92-93f3-1fd0f6ae11f7</Key>
      <Name>Footer Link Hover Colour</Name>
      <Alias>footerLinkHoverColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for hovered footer links.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f52e0138-d7a1-4405-9e40-8890235a30b3</Key>
      <Name>Footer Text Colour</Name>
      <Alias>footerTextColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for footer text.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7b691b4d-8657-4be3-84f2-10d7b895ed78</Key>
      <Name>Header Background</Name>
      <Alias>headerBackground</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for the header background.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>89049e91-e5b2-451e-922c-f7737060b80d</Key>
      <Name>Header Link Colour</Name>
      <Alias>headerLinkColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for header links.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cac8ac69-f3cd-45f8-8c90-2dc5fbcc1694</Key>
      <Name>Header Link Hover Colour</Name>
      <Alias>headerLinkHoverColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for hovered header links.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>13fd2f88-d9f3-45ca-b73b-e8eb3bc7b7af</Key>
      <Name>Header Text Colour</Name>
      <Alias>headerTextColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for header text.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d25ced4f-38fd-4d87-85d9-b7424ae349b2</Key>
      <Name>Heading Text Colour</Name>
      <Alias>headingTextColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for heading text.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="text">Text</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a4c956eb-f1b7-4217-bec2-e4ad725aa54c</Key>
      <Name>Info Colour</Name>
      <Alias>infoColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for informational feedback.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="feedback">Feedback</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1a88f1cb-68e1-48ee-ba7b-8f3dd28f8148</Key>
      <Name>Input Background</Name>
      <Alias>inputBackground</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for input backgrounds.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="forms">Forms</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ee9b54ff-efb4-4324-8922-1543df30f0ad</Key>
      <Name>Input Border</Name>
      <Alias>inputBorder</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for input borders.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="forms">Forms</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>474be967-fec3-4b01-bf61-d7558cc75d8b</Key>
      <Name>Input Border Focus</Name>
      <Alias>inputBorderFocus</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for focused input borders.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="forms">Forms</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5b008c47-af54-4993-a2d1-b40fc11e6d33</Key>
      <Name>Input Placeholder</Name>
      <Alias>inputPlaceholder</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for placeholder text.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="forms">Forms</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3f410f3d-7112-43f6-bdc3-4446f75d6541</Key>
      <Name>Input Text</Name>
      <Alias>inputText</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for input text.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="forms">Forms</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5aa1fe31-c877-4960-a1cb-abcb2e0f27d5</Key>
      <Name>Inverted Background</Name>
      <Alias>invertedBackground</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for inverted or high-contrast surfaces.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="surfaces">Surfaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ba84894c-41a1-4e1e-a3cb-1b27f974289f</Key>
      <Name>Inverted Text Colour</Name>
      <Alias>invertedTextColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for text on inverted surfaces.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="text">Text</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>96d552fc-2ba8-4ea0-94dc-780893427f98</Key>
      <Name>Link Active Colour</Name>
      <Alias>linkActiveColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for active links.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="links">Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e59d833f-3c84-4e8f-91b5-a82c77e0653f</Key>
      <Name>Link Colour</Name>
      <Alias>linkColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for standard links.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="links">Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ac4eae5e-9c7c-47c6-bbe7-bb49d8c793d1</Key>
      <Name>Link Focus Colour</Name>
      <Alias>linkFocusColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for focused links.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="links">Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>01f6922d-f96f-4721-a938-cd158656e5ee</Key>
      <Name>Link Hover Colour</Name>
      <Alias>linkHoverColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for hovered links.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="links">Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>66f76c01-a3f0-44f2-84ff-78c4851486f2</Key>
      <Name>Link Visited Colour</Name>
      <Alias>linkVisitedColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for visited links.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="links">Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6bfe5cb1-3f2a-4461-b66d-c76d5bdcb610</Key>
      <Name>Muted Text Colour</Name>
      <Alias>mutedTextColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for muted text.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="text">Text</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4d916f7c-d2db-4f1d-8c9f-56f767b403cf</Key>
      <Name>Page Background</Name>
      <Alias>pageBackground</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for the page background.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="surfaces">Surfaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>eb047ad0-0dc7-4862-84bb-d6fc278863f7</Key>
      <Name>Primary Button Background</Name>
      <Alias>primaryButtonBackground</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for primary button backgrounds.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="actions">Actions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0b471dfd-bac0-446f-8d44-f5393282ec3f</Key>
      <Name>Primary Button Hover Background</Name>
      <Alias>primaryButtonHoverBackground</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for hovered primary button backgrounds.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="actions">Actions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>905cf927-d125-4941-a4a8-00c5831b8c0d</Key>
      <Name>Primary Button Hover Text</Name>
      <Alias>primaryButtonHoverText</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for text on hovered primary buttons.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="actions">Actions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1a74e74b-ff20-450e-bfbe-5fef0ee55dda</Key>
      <Name>Primary Button Text</Name>
      <Alias>primaryButtonText</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for primary button text.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="actions">Actions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6145b859-a9c6-4735-995f-a4254856a6b0</Key>
      <Name>Secondary Button Background</Name>
      <Alias>secondaryButtonBackground</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for secondary button backgrounds.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="actions">Actions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a7f83931-27ba-4f65-b7e8-cf5da785e67d</Key>
      <Name>Secondary Button Hover Background</Name>
      <Alias>secondaryButtonHoverBackground</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for hovered secondary button backgrounds.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="actions">Actions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>076899a0-a2db-4632-bcb0-3a83817d2f97</Key>
      <Name>Secondary Button Hover Text</Name>
      <Alias>secondaryButtonHoverText</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for text on hovered secondary buttons.]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="actions">Actions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>751bcf17-bac7-4f5c-9f5c-4a5c3a2a4fe9</Key>
      <Name>Secondary Button Text</Name>
      <Alias>secondaryButtonText</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for secondary button text.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="actions">Actions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1f5f1cf1-d4bd-4c25-9dae-243962eb6b91</Key>
      <Name>Section Background</Name>
      <Alias>sectionBackground</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for section backgrounds.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="surfaces">Surfaces</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fcc46ce7-7d54-412a-b579-420ac8f2928a</Key>
      <Name>Section Spacing</Name>
      <Alias>sectionSpacing</Alias>
      <Definition>dd1d57d8-4141-4513-b0c9-d047b7b0490c</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the token used for default section spacing.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="componentDefaults">Component Defaults</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>de66507b-6bbc-4eb2-bf53-b09feef2c749</Key>
      <Name>Strong Border Colour</Name>
      <Alias>strongBorderColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for strong borders.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="borders">Borders</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>df111f0b-613a-46a7-9daf-e0c31ed0ec2f</Key>
      <Name>Subtle Border Colour</Name>
      <Alias>subtleBorderColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for subtle borders.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="borders">Borders</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cc571c53-2243-4a92-b1aa-df3719f9690c</Key>
      <Name>Success Colour</Name>
      <Alias>successColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for success feedback.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="feedback">Feedback</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b7fc4adf-4d68-4e20-a59f-449ce9199cb0</Key>
      <Name>Validation Error Colour</Name>
      <Alias>validationErrorColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for validation errors.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="forms">Forms</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>eb0843bb-4066-4fdb-a10a-2ef0f916a7e5</Key>
      <Name>Validation Success Colour</Name>
      <Alias>validationSuccessColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for successful validation states.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="forms">Forms</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>60a558f0-8172-4d27-b086-849af0e6f7ff</Key>
      <Name>Warning Colour</Name>
      <Alias>warningColor</Alias>
      <Definition>31eac662-01b4-4cc3-a4c7-c65cfed4a2e5</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the semantic colour for warning feedback.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="feedback">Feedback</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1c0f8a8d-6af2-4cbe-bf5f-0c27ca8cf838</Key>
      <Caption>Actions</Caption>
      <Alias>actions</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>31eb6508-6307-476a-82c4-3c9c363ea8a0</Key>
      <Caption>Forms</Caption>
      <Alias>forms</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>64f480ee-15e6-4442-a790-0f4473ec11d6</Key>
      <Caption>Text</Caption>
      <Alias>text</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>734ea1e8-6c39-477d-828d-14947a7d9fb3</Key>
      <Caption>Links</Caption>
      <Alias>links</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>7456be3d-006c-4181-9a99-a2d74dddcc73</Key>
      <Caption>Footer</Caption>
      <Alias>footer</Alias>
      <Type>Group</Type>
      <SortOrder>9</SortOrder>
    </Tab>
    <Tab>
      <Key>874af840-bbfc-43d0-9530-09035b7c20cf</Key>
      <Caption>Surfaces</Caption>
      <Alias>surfaces</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>8ea15e5f-7f3e-45f8-9f8f-3fa62032ef3a</Key>
      <Caption>Advanced</Caption>
      <Alias>advanced</Alias>
      <Type>Group</Type>
      <SortOrder>11</SortOrder>
    </Tab>
    <Tab>
      <Key>8fdc83d1-c1e4-440f-9b99-f97df350d88b</Key>
      <Caption>Borders</Caption>
      <Alias>borders</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>bfec91d6-6cc3-4587-bbf2-dde391473210</Key>
      <Caption>Header</Caption>
      <Alias>header</Alias>
      <Type>Group</Type>
      <SortOrder>8</SortOrder>
    </Tab>
    <Tab>
      <Key>d7347390-c78f-46bc-a471-67710a1ebfc3</Key>
      <Caption>Feedback</Caption>
      <Alias>feedback</Alias>
      <Type>Group</Type>
      <SortOrder>6</SortOrder>
    </Tab>
    <Tab>
      <Key>ddcb68c0-5db8-409b-a3e8-8da15e7a12f3</Key>
      <Caption>Component Defaults</Caption>
      <Alias>componentDefaults</Alias>
      <Type>Group</Type>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Key>e4c52d5b-6aa1-44f7-acd8-0f6541462be2</Key>
      <Caption>Focus</Caption>
      <Alias>focus</Alias>
      <Type>Group</Type>
      <SortOrder>7</SortOrder>
    </Tab>
  </Tabs>
</ContentType>