<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4f419c96-1f4a-473b-982c-4f426c3125d8" Alias="Applied Theme Style Layout Width Values" Level="2">
  <Info>
    <Name>Applied Theme Style Layout Width Values</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Site+Datatypes</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Site.Contentment.DesignTokenValueDataSource, site",
      "value": {
        "prefixes": [
          "layout-width-"
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": true
      }
    }
  ]
}]]></Config>
</DataType>
