<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5ec526fc-81cd-4dd1-8606-c34a716dc63d" Alias="Applied Theme Style Shadow Values" Level="2">
  <Info>
    <Name>Applied Theme Style Shadow Values</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Site+Datatypes</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Site.Contentment.DesignTokenValueDataSource, site",
      "value": {
        "prefixes": [
          "shadow-"
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": true
      }
    }
  ]
}]]></Config>
</DataType>
