<?xml version="1.0" encoding="utf-8"?>
<DataType Key="37ec59a5-db84-4a43-bf67-0619e990c662" Alias="Design Token Color Swatches" Level="2">
  <Info>
    <Name>Design Token Color Swatches</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Site+Datatypes</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Site.Contentment.DesignTokenColorDataSource, site",
      "value": {
        "filePath": "/App_Plugins/DesignTokens/tokens/colors.json"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Site.Contentment.ColorSwatchListEditor, site",
      "value": {}
    }
  ]
}]]></Config>
</DataType>