<?xml version="1.0" encoding="utf-8"?>
<DataType Key="59b67b03-dfbc-4b1e-a774-ab629da8ea6b" Alias="Style Setting Text Colour Swatches" Level="2">
  <Info>
    <Name>Style Setting Text Colour Swatches</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Site+Datatypes</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Site.Contentment.DesignTokenColorDataSource, site",
      "value": {
        "prefixes": [
          "text-"
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Site.Contentment.ColorSwatchListEditor, site",
      "value": {}
    }
  ]
}]]></Config>
</DataType>
