<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dd1d57d8-4141-4513-b0c9-d047b7b0490c" Alias="Style Setting Spaces" Level="2">
  <Info>
    <Name>Style Setting Spaces</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Site+Datatypes</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Site.Contentment.DesignTokenSpacingDataSource, site",
      "value": {}
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": true
      }
    }
  ]
}]]></Config>
</DataType>
