<?xml version="1.0" encoding="utf-8"?>
<DataType Key="94d74a04-b625-4485-b0dd-d38d90a4bf41" Alias="Design Token Surface Color Swatches" Level="2">
  <Info>
    <Name>Design Token Surface Color Swatches</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Site+Datatypes</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Site.Contentment.DesignTokenColorDataSource, site",
      "value": {
        "prefixes": [
          "surface-"
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Site.Contentment.ColorSwatchListEditor, site",
      "value": {}
    }
  ]
}]]></Config>
</DataType>
