<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4432ab53-9b11-4858-99b7-77808a05fbe9" Alias="Style Setting Border Colour Swatches" Level="2">
  <Info>
    <Name>Style Setting Border Colour Swatches</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Site+Datatypes</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Site.Contentment.DesignTokenColorDataSource, site",
      "value": {
        "prefixes": [
          "border-"
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Site.Contentment.ColorSwatchListEditor, site",
      "value": {}
    }
  ]
}]]></Config>
</DataType>
