<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6d5eb7db-6062-4a5b-b379-eb7d038bcfb5" Alias="Design Token Radius Values" Level="2">
  <Info>
    <Name>Design Token Radius Values</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Site+Datatypes</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Site.Contentment.DesignTokenValueDataSource, site",
      "value": {
        "prefixes": [
          "radius-"
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": true
      }
    }
  ]
}]]></Config>
</DataType>
