<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cc2af580-02ea-4ae0-a32d-8666755b4d01" Alias="Design System - Color Value Source" Level="1">
  <Info>
    <Name>Design System - Color Value Source</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "reference",
    "color"
  ]
}]]></Config>
</DataType>