<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ab32098d-cff8-430b-9c8c-1d90b49e1bbd" Alias="Footer - Footer Logo - Single Block" Level="1">
  <Info>
    <Name>Footer - Footer Logo - Single Block</Name>
    <EditorAlias>Umbraco.SingleBlock</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockSingle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f5ccb228-b3cb-46f3-9407-c37d5f221839",
      "settingsElementTypeKey": "100c8fd1-9459-4234-b329-ff6a44a2211e"
    }
  ]
}]]></Config>
</DataType>