<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a08b80c8-e1d4-4296-93cd-83b2b65e5adc" Alias="Footer - Footer Text - Single Block" Level="1">
  <Info>
    <Name>Footer - Footer Text - Single Block</Name>
    <EditorAlias>Umbraco.SingleBlock</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockSingle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "38beb9eb-4f9d-4289-b6b8-da03975f560d",
      "settingsElementTypeKey": "100c8fd1-9459-4234-b329-ff6a44a2211e"
    }
  ]
}]]></Config>
</DataType>