<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f4a7f9e8-b30d-41fe-babf-964b8430f55f" Alias="Free Colour Picker" Level="1">
  <Info>
    <Name>Free Colour Picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EyeDropper</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "showAlpha": true,
  "showPalette": true
}]]></Config>
</DataType>
