<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c67ac178-5879-4d7a-9d69-2d2745f6ffcb" Alias="Header Settings - Sticky Header - Checkbox List" Level="1">
  <Info>
    <Name>Header Settings - Sticky Header - Checkbox List</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.CheckBoxList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Mobile",
    "Tablet",
    "Laptop",
    "Desktop "
  ]
}]]></Config>
</DataType>