<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8340d824-fa56-4067-90e3-809b3197cc19" Alias="Header - Navigation Bar  - Single Block" Level="1">
  <Info>
    <Name>Header - Navigation Bar  - Single Block</Name>
    <EditorAlias>Umbraco.SingleBlock</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockSingle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e45e3b1b-b1d4-49bd-b653-320e4d522b88",
      "settingsElementTypeKey": "e772a408-bf0c-4eb4-b78c-98a3a6146a42"
    }
  ]
}]]></Config>
</DataType>