<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1f48120a-29dd-4098-a07a-d36533ba24ac" Alias="Header - Utility Bar - Single Block" Level="1">
  <Info>
    <Name>Header - Utility Bar - Single Block</Name>
    <EditorAlias>Umbraco.SingleBlock</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockSingle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ac4f177e-628f-4ff8-8239-11c17178d09b",
      "settingsElementTypeKey": "e772a408-bf0c-4eb4-b78c-98a3a6146a42"
    }
  ]
}]]></Config>
</DataType>