<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dbf1146b-4497-4dcd-bde8-4f08c64ae50e" Alias="Header - Logo - Single Block" Level="1">
  <Info>
    <Name>Header - Logo - Single Block</Name>
    <EditorAlias>Umbraco.SingleBlock</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockSingle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f5ccb228-b3cb-46f3-9407-c37d5f221839",
      "settingsElementTypeKey": "100c8fd1-9459-4234-b329-ff6a44a2211e"
    }
  ]
}]]></Config>
</DataType>