<?xml version="1.0" encoding="utf-8"?>
<DataType Key="97a31db3-2ea5-4de8-abf7-ea85e0ea151c" Alias="Link Groups" Level="2">
  <Info>
    <Name>Link Groups</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Site+Datatypes</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "label": "${ title ? \u0027Link List - \u0027 \u002B title : \u0027Link List\u0027 }",
      "contentElementTypeKey": "7d9d474a-38e0-4cc4-9767-b4a3f0f47987",
      "settingsElementTypeKey": null
    }
  ],
  "useInlineEditingAsDefault": true,
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": null,
    "max": null
  }
}]]></Config>
</DataType>