<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d5177125-f01c-4941-8a04-020fa016a287" Alias="Link List" Level="2">
  <Info>
    <Name>Link List</Name>
    <EditorAlias>Umbraco.SingleBlock</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockSingle</EditorUIAlias>
    <Folder>Site+Datatypes</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "35a9b6ec-d02d-45a9-9d31-860fb11e1202",
      "label": "Link List"
    }
  ],
  "useInlineEditingAsDefault": true
}]]></Config>
</DataType>