<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b05f6d9f-65be-494d-ae20-d31db1cb1d0e" Alias="Meta Description" Level="2">
  <Info>
    <Name>Meta Description</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
    <Folder>Site+Datatypes</Folder>
  </Info>
  <Config><![CDATA[{
  "maxChars": 160,
  "rows": 3
}]]></Config>
</DataType>