<?xml version="1.0" encoding="utf-8"?>
<DataType Key="62d4cabd-fbdf-49d6-bbf9-b7db87a0ce36" Alias="Meta Title" Level="2">
  <Info>
    <Name>Meta Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
    <Folder>Site+Datatypes</Folder>
  </Info>
  <Config><![CDATA[{
  "maxChars": 60
}]]></Config>
</DataType>