<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b7b99d69-5dd7-442f-8405-2f6778f38327" Alias="Meta" Level="2">
  <Info>
    <Name>Meta</Name>
    <EditorAlias>Umbraco.SingleBlock</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockSingle</EditorUIAlias>
    <Folder>Site+Datatypes</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "label": "${ hideFromSearchEngines ? 'Hidden from Search Engines' : '' }${ !hideFromSearchEngines && metaTitle ? metaTitle : '' }${ !hideFromSearchEngines && metaTitle && metaDescription ? ' - ' : '' }${ !hideFromSearchEngines && metaDescription ? metaDescription : '' }",
      "contentElementTypeKey": "c9ae9ed7-6d38-4ab7-921d-3325b6315928",
      "settingsElementTypeKey": null
    }
  ],
  "useInlineEditingAsDefault": true
}]]></Config>
</DataType>
