<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6d6fd1da-c747-4f11-81db-bf3ff71fbfd1" Alias="Navigation Link Picker" Level="2">
  <Info>
    <Name>Navigation Link Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
    <Folder>Site+Datatypes</Folder>
  </Info>
  <Config><![CDATA[{
  "ignoreUserStartNodes": false,
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>