<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bf97ecf1-96e0-4782-af0c-36835f1788f7" Alias="Navigation Links" Level="2">
  <Info>
    <Name>Navigation Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Site+Datatypes</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "label": "Navigation Link - {umbLink: link}",
      "contentElementTypeKey": "24b87ac9-d767-4f9e-8fd3-8a33c3f94ed0",
      "settingsElementTypeKey": null
    },
    {
      "contentElementTypeKey": "5859d284-83a7-49ab-b554-39a71f4d0267",
      "label": "Social Link - {=platform} {umbLink: link} "
    }
  ],
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": null,
    "max": null
  }
}]]></Config>
</DataType>