<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1eb9c651-cdf7-4ee7-ac48-7606f9154b2f" Alias="Page Components" Level="2">
  <Info>
    <Name>Page Components</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Site+Datatypes</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "label": "Text - {umbValue: rte | stripHtml | truncate:30:...}",
      "contentElementTypeKey": "38beb9eb-4f9d-4289-b6b8-da03975f560d",
      "settingsElementTypeKey": null
    }
  ],
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": null,
    "max": null
  }
}]]></Config>
</DataType>