<?xml version="1.0" encoding="utf-8"?>
<DataType Key="31eac662-01b4-4cc3-a4c7-c65cfed4a2e5" Alias="Base Colour Values" Level="2">
  <Info>
    <Name>Base Colour Values</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Site+Datatypes</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Site.Contentment.BaseColorDataSource, site",
      "value": {}
    }
  ],
  "listEditor": [
    {
      "key": "Site.Contentment.ColorSwatchListEditor, site",
      "value": {}
    }
  ]
}]]></Config>
</DataType>
