<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a5c8013a-4ed3-4c16-a22d-a47db5724eff" Alias="Single Image Picker" Level="2">
  <Info>
    <Name>Single Image Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
    <Folder>Site+Datatypes</Folder>
  </Info>
  <Config><![CDATA[{
  "multiple": false,
  "validationLimit": {
    "min": 0,
    "max": 1
  }
}]]></Config>
</DataType>