<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f4c293af-9c26-4f6f-8342-9715f0d27df4" Alias="Single Link List" Level="2">
  <Info>
    <Name>Single Link List</Name>
    <EditorAlias>Umbraco.SingleBlock</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockSingle</EditorUIAlias>
    <Folder>Site+Datatypes</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "label": "${ title ? title : \u0027\u0027 }",
      "contentElementTypeKey": "7d9d474a-38e0-4cc4-9767-b4a3f0f47987",
      "settingsElementTypeKey": null
    }
  ],
  "useInlineEditingAsDefault": false
}]]></Config>
</DataType>
