<?xml version="1.0" encoding="utf-8"?>
<DataType Key="56d31bea-05bd-4c78-a26b-8f0f5061847b" Alias="Site Settings - Design System - Spacing Value" Level="1">
  <Info>
    <Name>Site Settings - Design System - Spacing Value</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>My.PropertyEditorUi.ResponsiveSpacingValue</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>
