<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b5c865a7-8524-41cb-a6ca-b8a6b26f65c9" Alias="Site Settings - Design System - Pixel Value" Level="1">
  <Info>
    <Name>Site Settings - Design System - Pixel Value</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>My.PropertyEditorUi.StyleValue</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>
