<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ecfb5a71-64b9-4ae5-af3f-74e4a33c9920" Alias="Site Settings - Design System - Layout Tokens" Level="1">
  <Info>
    <Name>Site Settings - Design System - Layout Tokens</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4317e2c1-58d1-442b-a6f4-a58b04782165",
      "label": "{=label}"
    }
  ],
  "maxPropertyWidth": "900px",
  "useInlineEditingAsDefault": false,
  "useLiveEditing": true
}]]></Config>
</DataType>
