<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3c9e49d0-82e3-4d54-bd9d-34f2712cffbb" Alias="Site Settings - Footer - Single Block" Level="1">
  <Info>
    <Name>Site Settings - Footer - Single Block</Name>
    <EditorAlias>Umbraco.SingleBlock</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockSingle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c56b33e6-732a-4f80-a08a-eb618ebd7711"
    }
  ]
}]]></Config>
</DataType>