<?xml version="1.0" encoding="utf-8"?>
<DataType Key="08a91554-4648-44e1-9da0-bcd030b02e2e" Alias="Site Settings - Theme - Base Colour Items" Level="1">
  <Info>
    <Name>Site Settings - Theme - Base Colour Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "label": "Built-in colour - {=paletteValue}",
      "contentElementTypeKey": "6e2f3941-4c9c-4af7-b31a-8fb331b41249",
      "settingsElementTypeKey": null
    },
    {
      "label": "Custom colour - {=label}",
      "contentElementTypeKey": "ab9f6723-0dbb-4a0c-8c2f-7bc655f12910",
      "settingsElementTypeKey": null
    }
  ],
  "maxPropertyWidth": "",
  "useInlineEditingAsDefault": true,
  "useLiveEditing": true
}]]></Config>
</DataType>
