<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b64988e3-0a1f-4812-9c51-1dc6c8d5ac9a" Alias="Site Settings - Header - Block List" Level="1">
  <Info>
    <Name>Site Settings - Header - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f5ccb228-b3cb-46f3-9407-c37d5f221839",
      "label": "Header Logo",
      "settingsElementTypeKey": "100c8fd1-9459-4234-b329-ff6a44a2211e"
    },
    {
      "contentElementTypeKey": "ac4f177e-628f-4ff8-8239-11c17178d09b",
      "label": "Utility Bar",
      "settingsElementTypeKey": "100c8fd1-9459-4234-b329-ff6a44a2211e"
    },
    {
      "contentElementTypeKey": "e45e3b1b-b1d4-49bd-b653-320e4d522b88",
      "label": "Navigation Bar",
      "settingsElementTypeKey": "100c8fd1-9459-4234-b329-ff6a44a2211e"
    }
  ],
  "maxPropertyWidth": "800px",
  "useInlineEditingAsDefault": false,
  "useLiveEditing": true
}]]></Config>
</DataType>
