<?xml version="1.0" encoding="utf-8"?>
<DataType Key="942927fd-2843-43ec-9e78-b1cfe116447d" Alias="Site Settings - Theme - Colours" Level="1">
  <Info>
    <Name>Site Settings - Theme - Colours</Name>
    <EditorAlias>Umbraco.SingleBlock</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockSingle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0d1a7cd0-bc45-4f35-b854-8c70fb42021d",
      "editorSize": ""
    }
  ],
  "useInlineEditingAsDefault": true,
  "useLiveEditing": true
}]]></Config>
</DataType>
