<?xml version="1.0" encoding="utf-8"?>
<DataType Key="576049c7-fa35-47bc-9cd6-ebc1a2ca9d3a" Alias="Site Settings - Theme - Spacings" Level="1">
  <Info>
    <Name>Site Settings - Theme - Spacings</Name>
    <EditorAlias>Umbraco.SingleBlock</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockSingle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a8bbce95-0fba-4cb4-b0b9-4f8cf24367f7",
      "editorSize": ""
    }
  ],
  "useInlineEditingAsDefault": true,
  "useLiveEditing": true
}]]></Config>
</DataType>
