<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8df340d3-2261-4c09-af3f-8c30c75efd79" Alias="Site Settings - Design System - Spacing Tokens" Level="1">
  <Info>
    <Name>Site Settings - Design System - Spacing Tokens</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b62152da-ae03-47ea-9bd5-2d9818a8bfa3",
      "label": "{=label}"
    }
  ],
  "maxPropertyWidth": "",
  "useInlineEditingAsDefault": true,
  "useLiveEditing": true
}]]></Config>
</DataType>