<?xml version="1.0" encoding="utf-8"?>
<DataType Key="205cd40d-20ba-4dae-a3f3-a899b43f6a2a" Alias="Site Settings - Design System - Radius Tokens" Level="1">
  <Info>
    <Name>Site Settings - Design System - Radius Tokens</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4317e2c1-58d1-442b-a6f4-a58b04782165",
      "label": "{=label}"
    }
  ],
  "maxPropertyWidth": "900px",
  "useInlineEditingAsDefault": false,
  "useLiveEditing": true
}]]></Config>
</DataType>
