<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eb4e4691-ff5e-46da-8065-78582cead067" Alias="Site Settings - Design System - Color Tokens" Level="1">
  <Info>
    <Name>Site Settings - Design System - Color Tokens</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6e2f3941-4c9c-4af7-b31a-8fb331b41249",
      "label": "{=label}"
    }
  ],
  "maxPropertyWidth": "",
  "useInlineEditingAsDefault": true,
  "useLiveEditing": true
}]]></Config>
</DataType>