<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8df340d3-2261-4c09-af3f-8c30c75efd79" Alias="Site Settings - Design System - Additional Spacings" Level="1">
  <Info>
    <Name>Site Settings - Design System - Additional Spacings</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d81e1092-3ab0-4f0b-9b72-a568d8bfb932",
      "label": "{=name}"
    }
  ],
  "maxPropertyWidth": "",
  "useInlineEditingAsDefault": true,
  "useLiveEditing": true
}]]></Config>
</DataType>
