<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7033504d-28a2-4f20-a8af-d33d16c55459" Alias="Site Settings - Design System - Shadow Tokens" Level="1">
  <Info>
    <Name>Site Settings - Design System - Shadow Tokens</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4317e2c1-58d1-442b-a6f4-a58b04782165",
      "label": "{=label}"
    }
  ],
  "maxPropertyWidth": "900px",
  "useInlineEditingAsDefault": false,
  "useLiveEditing": true
}]]></Config>
</DataType>
