<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e66d1afd-4039-476e-9a0f-be1b26ab4d6c" Alias="Site Settings - Single Block" Level="1">
  <Info>
    <Name>Site Settings - Single Block</Name>
    <EditorAlias>Umbraco.SingleBlock</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockSingle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6597683f-7f26-4ca3-ba55-6e73dfb7141f",
      "editorSize": ""
    }
  ],
  "useInlineEditingAsDefault": true,
  "useLiveEditing": true
}]]></Config>
</DataType>