<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8f55a4ba-a13d-4f4f-bd27-fdf8eb584fc7" Alias="Site Settings - Theme - Font Family Value" Level="1">
  <Info>
    <Name>Site Settings - Theme - Font Family Value</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>My.PropertyEditorUi.FontFamilyValue</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>
