<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fe5032cf-dfa2-4756-834a-9148668a179c" Alias="Site Settings - Header - Single Block" Level="1">
  <Info>
    <Name>Site Settings - Header - Single Block</Name>
    <EditorAlias>Umbraco.SingleBlock</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockSingle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "159513df-133d-49e7-9bcc-e110aa764558",
      "label": "Header",
      "settingsElementTypeKey": "9d49e27a-79ed-46fa-84bf-eb1c1b82cd9d"
    }
  ]
}]]></Config>
</DataType>