<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4fe0f1b4-a2e7-4f46-9f36-1ca1ef3ebf6b" Alias="Site Settings - Design System - Line Height Value" Level="1">
  <Info>
    <Name>Site Settings - Design System - Line Height Value</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>My.PropertyEditorUi.StyleValue</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "units": ["", "px", "em", "rem", "%"],
  "defaultUnit": "",
  "tokenType": "dimension"
}]]></Config>
</DataType>
