<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b5c865a7-8524-41cb-a6ca-b8a6b26f65c9" Alias="Site Settings - Design System - Dimension Value" Level="1">
  <Info>
    <Name>Site Settings - Design System - Dimension Value</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>My.PropertyEditorUi.StyleValue</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "units": ["px", "rem", "em", "%", "vw", "vh", "ch"],
  "defaultUnit": "px",
  "tokenType": "dimension"
}]]></Config>
</DataType>
