<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3953ab31-f724-4c0e-b614-6e4bc7021583" Alias="Site Settings - Design System - Semantic Colour Tokens" Level="1">
  <Info>
    <Name>Site Settings - Design System - Semantic Colour Tokens</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "7d27a1b7-80d4-4608-ab96-d6b48b5a73fc",
      "label": "{=label}"
    }
  ],
  "maxPropertyWidth": "",
  "useInlineEditingAsDefault": false,
  "useLiveEditing": true
}]]></Config>
</DataType>
