<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1768b9c3-0b3e-4ccf-a8d5-0c7f90c11a3a" Alias="Social Image Picker" Level="2">
  <Info>
    <Name>Social Image Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
    <Folder>Site+Datatypes</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "cc07b313-0843-4aa8-bbda-871c8da728c8",
  "multiple": false,
  "focalPoint": {
    "enabled": true
  },
  "crops": [
    {
      "alias": "openGraph",
      "label": "Open Graph",
      "width": 1200,
      "height": 630
    }
  ],
  "validationLimit": {
    "min": 0,
    "max": 1
  }
}]]></Config>
</DataType>
