<?xml version="1.0" encoding="utf-8"?>
<DataType Key="88264f95-fbd5-43b2-8d99-e0a4ad57974a" Alias="Social" Level="2">
  <Info>
    <Name>Social</Name>
    <EditorAlias>Umbraco.SingleBlock</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockSingle</EditorUIAlias>
    <Folder>Site+Datatypes</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "label": "${ socialTitle ? socialTitle : \u0027\u0027 }${ socialTitle \u0026\u0026 socialDescription ? \u0027 - \u0027 : \u0027\u0027 }${ socialDescription ? socialDescription : \u0027\u0027 }",
      "contentElementTypeKey": "66d73f56-80f6-4739-ab75-618435f4f724",
      "settingsElementTypeKey": null
    }
  ],
  "useInlineEditingAsDefault": true
}]]></Config>
</DataType>