<?xml version="1.0" encoding="utf-8"?>
<DataType Key="42a1e912-6044-4d0b-ad4a-689430361fd6" Alias="Social Link - Platform - Dropdown" Level="2">
  <Info>
    <Name>Social Link - Platform - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Site+Datatypes</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "linkedin",
    "instagram",
    "facebook",
    "x",
    "youtube",
    "tiktok",
    "github"
  ]
}]]></Config>
</DataType>