<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f2ba86a9-8f64-4a8a-b2c4-5c6780f7e4b0" Alias="Summary" Level="2">
  <Info>
    <Name>Summary</Name>
    <EditorAlias>Umbraco.SingleBlock</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockSingle</EditorUIAlias>
    <Folder>Site+Datatypes</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "label": "${ summaryTitle ? summaryTitle : \u0027\u0027 }${ summaryTitle \u0026\u0026 summaryContent ? \u0027 - \u0027 : \u0027\u0027 }${ summaryContent ? summaryContent : \u0027\u0027 }",
      "contentElementTypeKey": "d4a0a510-b114-431a-9cc8-96b5a2782b16",
      "settingsElementTypeKey": null,
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false
}]]></Config>
</DataType>
