<?xml version="1.0" encoding="utf-8"?>
<DataType Key="281dc61e-c3aa-4bb1-b06d-5640d94838c0" Alias="Built-in Base Colour Swatches" Level="2">
  <Info>
    <Name>Built-in Base Colour Swatches</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Site+Datatypes</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Site.Contentment.BuiltInBaseColorDataSource, site",
      "value": {}
    }
  ],
  "listEditor": [
    {
      "key": "Site.Contentment.ColorSwatchListEditor, site",
      "value": {}
    }
  ]
}]]></Config>
</DataType>
