<?xml version="1.0" encoding="utf-8"?>
<Media Key="8cbc8d34-223c-4d09-b223-c98fb02d49ea" Alias="LinkedIN.gif" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LinkedINgif</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-19T09:54:27</CreateDate>
    <NodeName Default="LinkedIN.gif" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xndpuosv/linkedin.gif"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>